{{#each days}}
<li class="item custom-dnd5e-item" data-index="{{this.index}}">
    <div class="item-row">
        <div class="item-name">
            <input type="text" name="days.{{this.index}}.name" value="{{this.name}}" placeholder="{{localize "CUSTOM_DND5E.form.calendars.dayName"}}">
        </div>
        <div class="item-abbreviation">
            <input type="text" name="days.{{this.index}}.abbreviation" value="{{this.abbreviation}}" placeholder="{{localize "CUSTOM_DND5E.form.calendars.abbreviation"}}">
        </div>
        <div class="item-ordinal">
            <input type="number" name="days.{{this.index}}.ordinal" value="{{this.ordinal}}" placeholder="#" min="1">
        </div>
        <div class="item-controls always-visible">
            <button type="button" data-action="removeRow" data-section="days" data-index="{{this.index}}" class="unbutton control-button item-control always-interactive" data-tooltip="{{localize 'CUSTOM_DND5E.form.button.delete.tooltip'}}" aria-label="{{localize 'CUSTOM_DND5E.form.button.delete.tooltip'}}">
                <i class="fas fa-trash" inert></i>
            </button>
        </div>
    </div>
</li>
{{/each}}