{{#each seasons}}
<li class="item custom-dnd5e-item" data-index="{{this.index}}">
    <div class="item-row">
        <div class="item-name">
            <input type="text" name="seasons.{{this.index}}.name" value="{{this.name}}" placeholder="{{localize "CUSTOM_DND5E.form.calendars.seasonName"}}">
        </div>
        <div class="item-day-start">
            <input type="number" name="seasons.{{this.index}}.dayStart" value="{{this.dayStart}}" min="0">
        </div>
        <div class="item-day-end">
            <input type="number" name="seasons.{{this.index}}.dayEnd" value="{{this.dayEnd}}" min="0">
        </div>
        <div class="item-controls always-visible">
            <button type="button" data-action="removeRow" data-section="seasons" data-index="{{this.index}}" class="unbutton control-button item-control always-interactive" data-tooltip="{{localize 'CUSTOM_DND5E.form.button.delete.tooltip'}}" aria-label="{{localize 'CUSTOM_DND5E.form.button.delete.tooltip'}}">
                <i class="fas fa-trash" inert></i>
            </button>
        </div>
    </div>
</li>
{{/each}}