{{#each festivals}}
<li class="custom-dnd5e-item flexrow" data-index="{{this.index}}">
    <div class="custom-dnd5e-col-group flexrow" style="gap: 0.25rem; align-items: center;">
        <input type="text" name="festivals.{{this.index}}.name" value="{{this.name}}" placeholder="{{localize "CUSTOM_DND5E.form.calendars.festivalName"}}" style="flex: 2;">
        <input type="number" name="festivals.{{this.index}}.month" value="{{this.month}}" placeholder="{{localize "CUSTOM_DND5E.form.calendars.month"}}" style="flex: 1;" min="1">
        <input type="number" name="festivals.{{this.index}}.day" value="{{this.day}}" placeholder="{{localize "CUSTOM_DND5E.form.calendars.day"}}" style="flex: 1;" min="1">
        <button type="button" data-action="removeRow" data-section="festivals" data-index="{{this.index}}" class="flex0 custom-dnd5e-list-button" data-tooltip="{{localize "CUSTOM_DND5E.form.button.delete.tooltip"}}">
            <i class="fas fa-xmark"></i>
        </button>
    </div>
</li>
{{/each}}
