<div class="custom-dnd5e-drop-area custom-dnd5e-macro-field flex1{{#unless macroName}} hidden{{/unless}}">
    <span class="custom-dnd5e-macro-name">{{macroName}}</span>
    <button
        type="button"
        data-action="clearMacro"
        class="unbutton control-button"
        data-tooltip="{{localize 'CUSTOM_DND5E.form.counters.triggers.macro.clear'}}"
        aria-label="{{localize 'CUSTOM_DND5E.form.counters.triggers.macro.clear'}}">
        <i class="fa-solid fa-trash" inert></i>
    </button>
</div>
<div class="custom-dnd5e-drop-area drop-area flex1{{#if macroName}} hidden{{/if}}">{{localize "CUSTOM_DND5E.dropHint.macro"}}</div>
<input type="hidden" name="{{inputName}}" value="{{value}}">
