<div class="custom-dnd5e-items-sections">
    <div class="items-section card">
        <div class="items-header header">
            {{#each columns}}
            {{#if primary}}
            <h3 class="item-name">{{localize header}}</h3>
            {{else}}
            <div class="item-header {{cellClass}}">{{localize header}}</div>
            {{/if}}
            {{/each}}
            <div class="item-controls">
                <button
                    type="button"
                    class="unbutton control-button item-control"
                    disabled
                    style="visibility: hidden;"><i class="fas fa-trash" inert></i></button>
            </div>
        </div>
        <ol class="item-list unlist custom-dnd5e-list" data-section="{{section}}">
            {{> "modules/custom-dnd5e/templates/forms/table-rows.hbs"
                section=section
                columns=columns
                rows=rows}}
        </ol>
    </div>
    <button
        type="button"
        data-action="addRow"
        data-section="{{section}}"
        class="gold-button always-interactive"
        aria-label="{{localize 'CUSTOM_DND5E.form.button.new.label'}}">
        <i class="fas fa-plus" inert></i>
    </button>
</div>
