<div class="standard-form">
    <div class="standard-form scrollable">
        <p class="hint">{{localize "CUSTOM_DND5E.form.workflows.triggerConditions.hint"}}</p>
        <div class="custom-dnd5e-items-sections">
            <div class="items-section card">
                <div class="items-header header">
                    <h3 class="item-name">{{localize "CUSTOM_DND5E.form.workflows.triggerConditions.title"}}</h3>
                </div>
                <ul class="item-list unlist custom-dnd5e-list custom-dnd5e-trigger-list">
                    {{#each conditions}}
                    {{> "modules/custom-dnd5e/templates/workflows/workflows-trigger-row.hbs" this}}
                    {{/each}}
                </ul>
            </div>
            <button type="button" data-action="addCondition" class="gold-button always-interactive" aria-label="{{localize 'CUSTOM_DND5E.form.workflows.addCondition'}}">
                <i class="fas fa-plus" inert></i>
            </button>
        </div>
    </div>
    <footer class="form-footer" data-application-part="footer">
        <button type="submit" data-tooltip="{{localize "CUSTOM_DND5E.form.button.save.tooltip"}}" class="save-button">
            <i class="fas fa-solid fa-floppy-disk"></i>{{localize "CUSTOM_DND5E.form.button.save.label"}}
        </button>
    </footer>
</div>
