{{#each types as |item key|}}
<li class="item custom-dnd5e-item{{#if item.subtypes}} collapsible collapsed{{/if}}" data-key="types.{{key}}">
    <div class="item-row">
        <i class="custom-dnd5e-drag fa-solid fa-grip-lines" draggable="true"></i>
        <dnd5e-checkbox id="custom-dnd5e-visible" name="types.{{key}}.visible" data-tooltip="{{localize "CUSTOM_DND5E.form.checkbox.visible.tooltip"}}"{{#unless (customDnd5eBoolFalse visible)}} checked{{/unless}}></dnd5e-checkbox>
        <input id="custom-dnd5e-system" name="types.{{key}}.system" type="hidden" value="{{#if (customDnd5eBoolFalse system)}}false{{else}}true{{/if}}">
        <div class="item-name">
            <div class="form-group">
                <label class="flex0">{{localize "CUSTOM_DND5E.key"}}</label>
                <div class="form-fields">
                    <input{{#unless (customDnd5eBoolFalse system)}} disabled{{/unless}} id="key" {{#if (customDnd5eBoolFalse system)}}name="types.{{key}}.key"{{/if}} type="text" value="{{key}}">
                    {{#unless (customDnd5eBoolFalse system)}}<input id="custom-dnd5e-key" name="types.{{key}}.key" type="hidden" value="{{key}}">{{/unless}}
                </div>
            </div>
            <div class="form-group">
                <label class="flex0">{{localize "CUSTOM_DND5E.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-label" name="types.{{key}}.label" type="text" value="{{label}}">
                </div>
            </div>
        </div>
        <div class="item-controls always-visible">
            {{#if item.subtypes}}
            <button type="button" data-action="toggleExpand" class="unbutton control-button item-control always-interactive" aria-label="Toggle">
                <i class="fa-solid fa-expand" inert></i>
            </button>
            {{/if}}
            <button type="button" data-action="delete" class="unbutton control-button item-control always-interactive{{#unless (customDnd5eBoolFalse system)}} hidden{{/unless}}" data-tooltip="{{localize 'CUSTOM_DND5E.form.button.delete.tooltip'}}" aria-label="{{localize 'CUSTOM_DND5E.form.button.delete.tooltip'}}">
                <i class="fas fa-trash" inert></i>
            </button>
            <input id="custom-dnd5e-delete" name="types.{{key}}.delete" type="hidden" value="false">
        </div>
    </div>
    {{#if item.subtypes}}
    <div class="item-description collapsible-content">
        <div class="wrapper">
            <ol class="custom-dnd5e-list unlist">
                {{#each item.subtypes as |subitem subkey|}}
                <li class="item custom-dnd5e-item" data-key="types.{{@../key}}.subtypes.{{subkey}}">
                    <div class="item-row">
                        <i class="custom-dnd5e-drag fa-solid fa-grip-lines" draggable="true"></i>
                        <dnd5e-checkbox id="custom-dnd5e-visible" name="types.{{@../key}}.subtypes.{{subkey}}.visible" data-tooltip="{{localize "CUSTOM_DND5E.form.checkbox.visible.tooltip"}}"{{#unless (customDnd5eBoolFalse visible)}} checked{{/unless}}></dnd5e-checkbox>
                        <input id="custom-dnd5e-system" name="types.{{@../key}}.subtypes.{{subkey}}.system" type="hidden" value="{{#if (customDnd5eBoolFalse system)}}false{{else}}true{{/if}}">
                        <div class="item-name">
                            <div class="form-group">
                                <label class="flex0">{{localize "CUSTOM_DND5E.key"}}</label>
                                <div class="form-fields">
                                    <input{{#unless (customDnd5eBoolFalse system)}} disabled{{/unless}} id="key" {{#if (customDnd5eBoolFalse system)}}name="types.{{@../key}}.subtypes.{{subkey}}.key"{{/if}} type="text" value="{{subkey}}">
                                    {{#unless (customDnd5eBoolFalse system)}}<input id="custom-dnd5e-key" name="types.{{@../key}}.subtypes.{{subkey}}.key" type="hidden" value="{{subkey}}">{{/unless}}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="flex0">{{localize "CUSTOM_DND5E.label"}}</label>
                                <div class="form-fields">
                                    <input id="custom-dnd5e-label" name="types.{{@../key}}.subtypes.{{subkey}}.label" type="text" value="{{label}}">
                                </div>
                            </div>
                        </div>
                        <div class="item-controls always-visible">
                            <button type="button" data-action="delete" class="unbutton control-button item-control always-interactive{{#unless (customDnd5eBoolFalse system)}} hidden{{/unless}}" data-tooltip="{{localize 'CUSTOM_DND5E.form.button.delete.tooltip'}}" aria-label="{{localize 'CUSTOM_DND5E.form.button.delete.tooltip'}}">
                                <i class="fas fa-trash" inert></i>
                            </button>
                            <input id="custom-dnd5e-delete" name="types.{{@../key}}.subtypes.{{subkey}}.delete" type="hidden" value="false">
                        </div>
                    </div>
                </li>
                {{/each}}
            </ol>
        </div>
    </div>
    {{/if}}
</li>
{{/each}}