<div id="custom-dnd5e-form" class="standard-form" data-help-uuid="{{helpUuid}}">
    <div class="standard-form scrollable">
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.mobs"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.xXEu642Urflb2Ekm.JournalEntryPage.dIs1nJrpCky0jFwT" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.automation.mobs.enable.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-enable-mobs" name="enableMobs"{{#if enableMobs}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.automation.mobs.enable.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.automation.mobs.useAverageDamage.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-use-average-damage" name="useAverageDamage"{{#if useAverageDamage}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.automation.mobs.useAverageDamage.note"}}</p>
            </div>
        </fieldset>
    </div>
    <footer class="form-footer" data-application-part="footer">
        <button type="button" data-action="reset" class="reset-button bright">
            <i class="fas fa-arrow-rotate-left"></i>{{localize "CUSTOM_DND5E.form.button.reset.label"}}
        </button>
        <button type="submit" class="save-button">
            <i class="fas fa-solid fa-floppy-disk"></i>{{localize "CUSTOM_DND5E.form.button.save.label"}}
        </button>
    </footer>
</div>
