{{#each orders as |item key|}}
<li class="custom-dnd5e-item flexrow" data-key="orders.{{key}}">
    <i class="custom-dnd5e-drag flex0 fas fa-grip-lines" draggable="true"></i>
    <dnd5e-checkbox id="custom-dnd5e-visible" class="flex0" name="orders.{{key}}.visible" data-tooltip="{{localize "CUSTOM_DND5E.form.checkbox.visible.tooltip"}}"{{#unless (customDnd5eBoolFalse visible)}} checked{{/unless}}></dnd5e-checkbox>
    <div class="custom-dnd5e-col-group flexcol">
        <input id="custom-dnd5e-system" name="orders.{{key}}.system" type="hidden" value="{{#if (customDnd5eBoolFalse system)}}false{{else}}true{{/if}}">
        <div class="form-group">
            <label class="flex1">{{label}}</label>
        </div>
    </div>
    <div class="custom-dnd5e-list-buttons">
        <button type="button" data-action="editOrder" data-tooltip="{{localize "CUSTOM_DND5E.edit"}}" data-tooltip-direction="UP" class="flex0 custom-dnd5e-list-button">
            <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button{{#unless (customDnd5eBoolFalse system)}} disabled{{/unless}} type="button" {{#if (customDnd5eBoolFalse system)}}data-action="delete" data-tooltip="{{localize "CUSTOM_DND5E.form.button.delete.tooltip"}}"{{/if}} class="flex0 custom-dnd5e-list-button">
            <i class="fas fa-trash"></i>
        </button>
        <input id="custom-dnd5e-delete" name="orders.{{key}}.delete" type="hidden" value="false">
    </div>
</li>
{{/each}}
