<div class="standard-form">
    <div class="form-group">
        <label class="flex1" style="min-width:80px; max-width:200px;">{{localize "CUSTOM_DND5E.enableConfiguration"}}</label>
        <div class="form-fields">
            <dnd5e-checkbox id="custom-dnd5e-enable-config" name="enableConfig"{{#if (ne enableConfig false)}} checked{{/if}}></dnd5e-checkbox>
        </div>
    </div>
    <hr>
    <nav class="sheet-tabs tabs" style="flex: none;">
        <a class="item{{#if (eq activeTab 'sizes')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="sizes">
            <span>
                <i class="fa-solid fa-expand"></i>
                {{localize "CUSTOM_DND5E.bastions.sizes"}}
            </span>
        </a>
        <a class="item{{#if (eq activeTab 'types')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="types">
            <span>
                <i class="fa-solid fa-building"></i>
                {{localize "CUSTOM_DND5E.bastions.types"}}
            </span>
        </a>
        <a class="item{{#if (eq activeTab 'orders')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="orders">
            <span>
                <i class="fa-solid fa-scroll"></i>
                {{localize "CUSTOM_DND5E.bastions.orders"}}
            </span>
        </a>
        <a class="item{{#if (eq activeTab 'advancement')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="advancement">
            <span>
                <i class="fa-solid fa-chart-line"></i>
                {{localize "CUSTOM_DND5E.bastions.advancement"}}
            </span>
        </a>
    </nav>
    <hr>
    <div class="standard-form scrollable">
        {{!-- Sizes Tab --}}
        <section class="tab{{#if (eq activeTab 'sizes')}} active{{/if}}" data-group="primary" data-tab="sizes">
            <p class="hint">{{localize "CUSTOM_DND5E.bastions.sizesHint"}}</p>
            <ul class="custom-dnd5e-list flexcol">
                {{> "modules/custom-dnd5e/templates/bastions-sizes-list.hbs" sizes=sizes}}
            </ul>
        </section>

        {{!-- Types Tab --}}
        <section class="tab{{#if (eq activeTab 'types')}} active{{/if}}" data-group="primary" data-tab="types">
            <p class="hint">{{localize "CUSTOM_DND5E.bastions.typesHint"}}</p>
            <ul class="custom-dnd5e-list flexcol">
                {{> "modules/custom-dnd5e/templates/bastions-types-list.hbs" types=types}}
            </ul>
        </section>

        {{!-- Orders Tab --}}
        <section class="tab{{#if (eq activeTab 'orders')}} active{{/if}}" data-group="primary" data-tab="orders">
            <p class="hint">{{localize "CUSTOM_DND5E.bastions.ordersHint"}}</p>
            <ul class="custom-dnd5e-list flexcol">
                {{> "modules/custom-dnd5e/templates/bastions-orders-list.hbs" orders=orders}}
            </ul>
        </section>

        {{!-- Advancement Tab --}}
        <section class="tab{{#if (eq activeTab 'advancement')}} active{{/if}}" data-group="primary" data-tab="advancement">
            <p class="hint">{{localize "CUSTOM_DND5E.bastions.advancementHint"}}</p>
            <fieldset>
                <legend>{{localize "CUSTOM_DND5E.bastions.basicFacilities"}}</legend>
                <div class="form-group">
                    <p class="notes">{{localize "CUSTOM_DND5E.bastions.advancementNote"}}</p>
                </div>
                {{#each advancement.basic}}
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.bastions.level"}} {{this.level}}</label>
                    <div class="form-fields">
                        <input type="number" name="advancement.basic.{{this.level}}" value="{{this.count}}" min="0">
                    </div>
                </div>
                {{/each}}
            </fieldset>
            <fieldset>
                <legend>{{localize "CUSTOM_DND5E.bastions.specialFacilities"}}</legend>
                {{#each advancement.special}}
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.bastions.level"}} {{this.level}}</label>
                    <div class="form-fields">
                        <input type="number" name="advancement.special.{{this.level}}" value="{{this.count}}" min="0">
                    </div>
                </div>
                {{/each}}
            </fieldset>
        </section>
    </div>
    <footer class="form-footer" data-application-part="footer">
        <button type="button" data-action="new" class="new-button bright">
            <i class="fas fa-plus"></i>{{localize "CUSTOM_DND5E.form.button.new.label"}}
        </button>
        <button type="button" data-action="reset" class="reset-button bright">
            <i class="fas fa-arrow-rotate-left"></i>{{localize "CUSTOM_DND5E.form.button.reset.label"}}
        </button>
        <button type="submit" class="save-button">
            <i class="fas fa-solid fa-floppy-disk"></i>{{localize "CUSTOM_DND5E.form.button.save.label"}}
        </button>
    </footer>
</div>
