<div class="standard-form">
    <div class="standard-form scrollable">
        <input id="custom-dnd5e-system" name="{{key}}.system" type="hidden" value="{{#if (customDnd5eBoolFalse system)}}false{{else}}true{{/if}}">
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:120px;">{{localize "CUSTOM_DND5E.key"}}</label>
            <div class="form-fields">
                {{#if (customDnd5eBoolFalse system)}}
                <input id="custom-dnd5e-key" name="{{key}}.key" type="text" value="{{localize key}}">
                {{else}}
                <input id="custom-dnd5e-disabled-key" disabled name="{{key}}.disabledKey" type="text" value="{{localize key}}">
                <input id="custom-dnd5e-key" name="{{key}}.key" type="hidden" value="{{localize key}}">
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:120px;">{{localize "CUSTOM_DND5E.name"}}</label>
            <div class="form-fields">
                <input id="custom-dnd5e-name" name="{{key}}.name" type="text" value="{{localize name}}">
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:120px;">{{localize "CUSTOM_DND5E.icon"}}</label>
            <div class="form-fields">
                <file-picker id="custom-dnd5e-img" name="{{key}}.img" type="image" value="{{img}}"></file-picker>
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:120px;">{{localize "CUSTOM_DND5E.reference"}}</label>
            <div class="form-fields">
                <input id="custom-dnd5e-reference" name="{{key}}.reference" type="text" value="{{reference}}">
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:120px;">{{localize "CUSTOM_DND5E.levels"}}</label>
            <div class="form-fields">
                <input id="custom-dnd5e-levels" name="{{key}}.levels" type="number" value="{{levels}}">
            </div>
        </div>
        {{#if (customDnd5eEq key "exhaustion")}}
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:120px;">{{localize "CUSTOM_DND5E.rollsReduction"}}</label>
            <div class="form-fields">
                <input id="custom-dnd5e-reduction.rolls" name="{{key}}.reduction.rolls" type="number" value="{{reduction.rolls}}">
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:120px;">{{localize "CUSTOM_DND5E.speedReduction"}}</label>
            <div class="form-fields">
                <input id="custom-dnd5e-speedReduction" name="{{key}}.reduction.speed" type="number" value="{{reduction.speed}}">
            </div>
        </div>
        {{/if}}
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:120px;">{{localize "CUSTOM_DND5E.special"}}</label>
            <div class="form-fields">
                <input id="custom-dnd5e-special" name="{{key}}.special" type="text" value="{{special}}">
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:120px;">{{localize "CUSTOM_DND5E.includeOnHud"}}</label>
            <div class="form-fields">
                <dnd5e-checkbox id="custom-dnd5e-hud" name="{{key}}.hud"{{#if (ne hud false)}} checked{{/if}}></dnd5e-checkbox>
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:120px;">{{localize "CUSTOM_DND5E.includeOnSheet"}}</label>
            <div class="form-fields">
                <dnd5e-checkbox id="custom-dnd5e-sheet" name="{{key}}.sheet"{{#if sheet}} checked{{/if}}></dnd5e-checkbox>
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:120px;">{{localize "CUSTOM_DND5E.overlay"}}</label>
            <div class="form-fields">
                <dnd5e-checkbox id="custom-dnd5e-overlay" name="{{key}}.overlay"{{#if overlay}} checked{{/if}}></dnd5e-checkbox>
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:120px;">{{localize "CUSTOM_DND5E.pseudo"}}</label>
            <div class="form-fields">
                <dnd5e-checkbox id="custom-dnd5e-pseudo" name="{{key}}.pseudo"{{#if pseudo}} checked{{/if}}></dnd5e-checkbox>
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:120px;">{{localize "CUSTOM_DND5E.riders"}}</label>
            <div class="form-fields">
                <multi-select name="{{key}}.riders">
                    {{selectOptions selects.riders selected=riders}}
                </multi-select>
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:120px;">{{localize "CUSTOM_DND5E.statuses"}}</label>
            <div class="form-fields">
                <multi-select name="{{key}}.statuses">
                    {{selectOptions selects.statuses selected=statuses}}
                </multi-select>
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:120px;">{{localize "CUSTOM_DND5E.macroOnApply"}}</label>
            <div class="form-fields custom-dnd5e-macro-drop">
                <div class="custom-dnd5e-macro-field flex1{{#unless macroName}} hidden{{/unless}}">
                    <span class="custom-dnd5e-macro-name">{{macroName}}</span>
                    <button type="button" data-action="clearMacro" class="unbutton control-button" data-tooltip="{{localize 'CUSTOM_DND5E.form.counters.triggers.macro.clear'}}" aria-label="{{localize 'CUSTOM_DND5E.form.counters.triggers.macro.clear'}}">
                        <i class="fa-solid fa-trash" inert></i>
                    </button>
                </div>
                <div class="drop-area flex1{{#if macroName}} hidden{{/if}}">{{localize "CUSTOM_DND5E.form.counters.triggers.macro.dropHint"}}</div>
                <input type="hidden" name="{{key}}.macroUuid" value="{{macroUuid}}">
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:120px;">{{localize "CUSTOM_DND5E.macroOnRemove"}}</label>
            <div class="form-fields custom-dnd5e-macro-drop">
                <div class="custom-dnd5e-macro-field flex1{{#unless macroDisabledName}} hidden{{/unless}}">
                    <span class="custom-dnd5e-macro-name">{{macroDisabledName}}</span>
                    <button type="button" data-action="clearMacro" class="unbutton control-button" data-tooltip="{{localize 'CUSTOM_DND5E.form.counters.triggers.macro.clear'}}" aria-label="{{localize 'CUSTOM_DND5E.form.counters.triggers.macro.clear'}}">
                        <i class="fa-solid fa-trash" inert></i>
                    </button>
                </div>
                <div class="drop-area flex1{{#if macroDisabledName}} hidden{{/if}}">{{localize "CUSTOM_DND5E.form.counters.triggers.macro.dropHint"}}</div>
                <input type="hidden" name="{{key}}.macroDisabledUuid" value="{{macroDisabledUuid}}">
            </div>
        </div>
    </div>
    {{> "modules/custom-dnd5e/templates/footer.hbs" system=system}}
</div>