<ul class="custom-dnd5e-list flexcol">
    {{#each items as |item key|}}
        <li class="custom-dnd5e-item flexrow" data-key="{{dotNotateChild ../parentKey key}}">
            <i class="custom-dnd5e-drag flex0 fas fa-grip-lines" draggable="true"></i>
            <input id="visible" name="{{dotNotateChild ../parentKey key}}.visible" type="checkbox" data-tooltip="{{localize "CUSTOM_DND5E.form.checkbox.visible.tooltip"}}"{{#unless (boolfalse visible)}} checked{{/unless}}>
            <div class="fields flexrow">
                <input id="parentKey" name="{{dotNotateChild ../parentKey key}}.parentKey" type="hidden" value="{{../parentKey}}">
                <input id="key" name="{{dotNotateChild ../parentKey key}}.key" type="hidden" value="{{key}}">
                <input id="system" name="{{dotNotateChild ../parentKey key}}.system" type="hidden" value="{{#if (boolfalse system)}}false{{else}}true{{/if}}">
                <input id="label" name="{{dotNotateChild ../parentKey key}}.label" type="text" value="{{localize label}}"> 
            </div>
            <button{{#unless (boolfalse system)}} class="hidden"{{/unless}} type="button" data-tooltip="{{localize "CUSTOM_DND5E.form.button.delete.tooltip"}}" data-action="delete" class="flex0 delete-button">
                <i class="fas fa-xmark"></i>
            </button>
            <input id="delete" name="{{dotNotateChild ../parentKey key}}.delete" type="hidden" value="false">
            {{#if item.children}}
                {{> "modules/custom-dnd5e/templates/config-list.hbs" prefix=../prefix parentKey=(dotNotateChild ../parentKey key) items=item.children }}
            {{/if}}
        </li>
    {{/each}}
</ul>