<div class="standard-form">
    <div class="form-group">
        <label class="flex1" style="min-width:80px; max-width:200px;">{{localize "CUSTOM_DND5E.enableConfiguration"}}</label>
        <div class="form-fields">
            <dnd5e-checkbox id="custom-dnd5e-enable-config" name="enableConfig"{{#if (ne enableConfig false)}} checked{{/if}}></dnd5e-checkbox>
        </div>
    </div>
    <hr>
    <div class="standard-form scrollable">
        <ul class="custom-dnd5e-list flexcol">
            {{#if editInList}}
            {{> "modules/custom-dnd5e/templates/config-edit-in-list.hbs" items=items}}
            {{else}}
            {{> "modules/custom-dnd5e/templates/config-list.hbs" items=items selects=selects}}
            {{/if}}
        </ul>
    </div>
    <footer class="form-footer" data-application-part="footer">
        {{#unless disableCreate}}
        <button type="button" data-action="new" class="new-button bright">
            <i class="fas fa-plus"></i>{{localize "CUSTOM_DND5E.form.button.new.label"}}
        </button>
        {{/unless}}
        <button type="button" data-action="reset" class="reset-button">
            <i class="fas fa-arrow-rotate-left"></i>{{localize "CUSTOM_DND5E.form.button.reset.label"}}
        </button>
        <button type="submit" class="save-button">
            <i class="fas fa-solid fa-floppy-disk"></i>{{localize "CUSTOM_DND5E.form.button.save.label"}}
        </button>
    </footer>
</div>