<div class="custom-dnd5e-form-wrapper flexrow">
    <form class="custom-dnd5e-form flexcol">
        <div class="flexcol flexa scrollable">
            <div class="flex0">
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.key"}}</label>
                    <div class="form-fields">
                        <input id="key" name="{{key}}.key" type="text" value="{{key}}"> 
                    </div>
                    <p class="custom-dnd5e-advice notes">{{localize "CUSTOM_DND5E.form.counters.key.note.1"}}</p>
                </div>
                <div class="form-group flex0">
                    <label>{{localize "CUSTOM_DND5E.form.counters.viewRole.label"}}</label>
                    <div class="form-fields">
                        <select id="view-role" name="{{key}}.viewRole">
                        {{#select viewRole}}
                        <option value="1">{{localize "USER.RolePlayer"}}</option>
                        <option value="2">{{localize "USER.RoleTrusted"}}</option>
                        <option value="3">{{localize "USER.RoleAssistant"}}</option>
                        <option value="4">{{localize "USER.RoleGamemaster"}}</option>
                        {{/select}}
                    </select>
                    </div>
                    <p class="notes">{{localize "CUSTOM_DND5E.form.counters.viewRole.note.1"}}</p>
                </div>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.form.counters.editRole.label"}}</label>
                    <div class="form-fields">
                        <select id="edit-role" name="{{key}}.editRole">
                        {{#select editRole}}
                        <option value="1">{{localize "USER.RolePlayer"}}</option>
                        <option value="2">{{localize "USER.RoleTrusted"}}</option>
                        <option value="3">{{localize "USER.RoleAssistant"}}</option>
                        <option value="4">{{localize "USER.RoleGamemaster"}}</option>
                        {{/select}}
                    </select>
                    </div>
                    <p class="notes">{{localize "CUSTOM_DND5E.form.counters.editRole.note.1"}}</p>
                </div>
                {{#unless (customDnd5eEq type "checkbox")}}
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.form.counters.max.label"}}</label>
                    <div class="form-fields">
                        <input id="max" name="{{key}}.max" type="number" value="{{max}}"> 
                    </div>
                    <p class="notes">{{localize "CUSTOM_DND5E.form.counters.max.note.1"}}</p>
                </div>
                {{/unless}}
            </div>
            <h2 class="flex0">{{localize "CUSTOM_DND5E.triggers"}}</h2>
            <div class="flexcol flexa scrollable">
                <ul class="custom-dnd5e-list">
                    {{> "modules/custom-dnd5e/templates/counters-triggers-list.hbs" prefix=triggers key=key type=type}}
                </ul>
            </div>
        </div>
        <footer>
            <button type="button" data-tooltip="{{localize "CUSTOM_DND5E.form.button.new.tooltip"}}" data-action="new" class="new-button">
                <i class="fas fa-plus"></i>{{localize "CUSTOM_DND5E.form.button.new.label"}}
            </button>
            <button type="button" data-tooltip="{{localize "CUSTOM_DND5E.form.button.save.tooltip"}}" data-action="validate" class="save-button">
                <i class="fas fa-solid fa-floppy-disk"></i>{{localize "CUSTOM_DND5E.form.button.save.label"}}
            </button>
        </footer>
    </form>
</div>