<div class="standard-form">
    <nav class="sheet-tabs tabs" style="flex: none;">
        <a class="item active" data-action="tab" data-group="primary" data-tab="options">
            <i class="fa-solid fa-gear"></i>
            {{localize "CUSTOM_DND5E.options"}}
        </a>
        <a class="item" data-action="tab" data-group="primary" data-tab="triggers">
            <i class="fa-solid fa-bolt-lightning"></i>
            {{localize "CUSTOM_DND5E.triggers"}}
        </a>
    </nav>
    <div class="standard-form scrollable">
        <section class="tab active" data-group="primary" data-tab="options">
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.key"}}</label>
                <div class="form-fields">
                    <input id="key" name="{{key}}.key" type="text" value="{{key}}"> 
                </div>
                <p class="custom-dnd5e-advice notes">{{localize "CUSTOM_DND5E.form.counters.key.note.1"}}</p>
            </div>
            <div class="form-group flex0">
                <label>{{localize "CUSTOM_DND5E.form.counters.viewRole.label"}}</label>
                <div class="form-fields">
                    <select id="view-role" name="{{key}}.viewRole">
                        {{selectOptions selects.role.choices selected=viewRole localize=true}}
                    </select>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.counters.viewRole.note.1"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.counters.editRole.label"}}</label>
                <div class="form-fields">
                    <select id="edit-role" name="{{key}}.editRole">
                        {{selectOptions selects.role.choices selected=editRole localize=true}}
                    </select>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.counters.editRole.note.1"}}</p>
            </div>
            {{#unless (customDnd5eEq type "checkbox")}}
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.counters.max.label"}}</label>
                <div class="form-fields">
                    <input id="max" name="{{key}}.max" type="number" value="{{max}}"> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.counters.max.note.1"}}</p>
            </div>
            {{/unless}}
        </section>
        <section class="tab" data-group="primary" data-tab="triggers" style="height: 100%;">
            <ul class="custom-dnd5e-list scrollable" style="height: 100%;">
                {{> "modules/custom-dnd5e/templates/counters-triggers-list.hbs" prefix=triggers key=key type=type selects=selects}}
            </ul>
            <button type="button" data-action="new" class="new-button bright">
                <i class="fas fa-plus"></i>{{localize "CUSTOM_DND5E.form.button.new.label"}}
            </button>
        </section>
    </div>
    <footer class="form-footer" data-application-part="footer">
        <button type="submit" data-tooltip="{{localize "CUSTOM_DND5E.form.button.save.tooltip"}}" class="save-button">
            <i class="fas fa-solid fa-floppy-disk"></i>{{localize "CUSTOM_DND5E.form.button.save.label"}}
        </button>
    </footer>
</div>