{{#each triggers}}
<li class="custom-dnd5e-item flexrow" data-key="{{#if key}}{{key}}{{else}}{{randomId}}{{/if}}">
    <i class="custom-dnd5e-drag flex0 fas fa-grip-lines" draggable="true"></i>
    <div class="custom-dnd5e-col-group flexcol">
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.trigger"}}</label>
            <div class="form-fields">
                <select id="trigger" name="trigger">
                    {{#select trigger}}
                    {{#unless (eq ../type "checkbox")}}
                    <option id="counterValue" value="counterValue">{{localize "CUSTOM_DND5E.form.counters.triggers.trigger.choices.counterValue"}}</option>
                    {{/unless}}
                    <option id="zeroHp" value="zeroHp">{{localize "CUSTOM_DND5E.form.counters.triggers.trigger.choices.zeroHp"}}</option>
                    <option id="zeroHpCombatEnd" value="zeroHpCombatEnd">{{localize "CUSTOM_DND5E.form.counters.triggers.trigger.choices.zeroHpCombatEnd"}}</option>
                    <option id="halfHp" value="halfHp">{{localize "CUSTOM_DND5E.form.counters.triggers.trigger.choices.halfHp"}}</option>
                    {{!--
                    <option id="roll1" value="roll1">{{localize "CUSTOM_DND5E.form.counters.triggers.trigger.choices.roll1"}}</option>
                    <option id="roll20" value="roll20">{{localize "CUSTOM_DND5E.form.counters.triggers.trigger.choices.roll20"}}</option>
                    --}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group{{#unless (showTriggerValue trigger)}} hidden{{/unless}}">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.triggerValue"}}</label>
            <div class="form-fields">
                <input id="trigger-value" name="triggerValue" type="number" value="{{triggerValue}}">
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.action"}}</label>
            <div class="form-fields">
                <select id="action" name="action">
                    {{#select action}}
                    {{#unless (eq ../type "checkbox")}}
                    <option id="increase"{{#if (eq trigger "counterValue")}} class="hidden"{{/if}} value="increase">{{localize "CUSTOM_DND5E.increase"}}</option>
                    <option id="decrease"{{#if (eq trigger "counterValue")}} class="hidden"{{/if}} value="decrease">{{localize "CUSTOM_DND5E.decrease"}}</option>
                    <option id="dead" value="dead">{{localize "CUSTOM_DND5E.dead"}}</option>
                    {{/unless}}
                    {{#if (eq ../type "checkbox")}}
                    <option id="check" value="check">{{localize "CUSTOM_DND5E.check"}}</option>
                    <option id="uncheck" value="uncheck">{{localize "CUSTOM_DND5E.uncheck"}}</option>
                    {{/if}}
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="form-group{{#unless (showActionValue action)}} hidden{{/unless}}">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.actionValue"}}</label>
            <div class="form-fields">
                <input id="action-value" name="actionValue" type="number" value="{{actionValue}}">
            </div>
        </div>
    </div>
    <button type="button" data-tooltip="{{localize "CUSTOM_DND5E.form.button.delete.tooltip"}}" data-action="delete" class="flex0 custom-dnd5e-list-button">
        <i class="fas fa-xmark"></i>
    </button>
    <input id="delete" name="delete" type="hidden" value="false">
</li>
{{/each}}