<div class="custom-dnd5e-form-wrapper flexrow">
    <form class="custom-dnd5e-form flexcol">
        <div class="flexcol flexa scrollable">
            {{#unless (eq type "checkbox")}}
            <div class="form-group flex0">
                <label>{{localize "CUSTOM_DND5E.form.counters.max.label"}}</label>
                <div class="form-fields">
                    <input id="max" name="{{key}}.max" type="number" value="{{max}}"> 
                </div>
                <p class="notes">{{localize "CUSTOM_DND5E.form.counters.max.note.1"}}</p>
            </div>
            {{/unless}}
            <h2 class="flex0">{{localize "CUSTOM_DND5E.triggers"}}</h2>
            <div class="flexcol flexa scrollable">
                {{> "modules/custom-dnd5e/templates/counters-advanced-options-list.hbs" prefix=advancedOptions key=key type=type}}
            </div>
        </div>
        <footer>
            <button type="button" data-tooltip="{{localize "CUSTOM_DND5E.form.button.new.tooltip"}}" data-action="new" class="new-button">
                <i class="fas fa-plus"></i>{{localize "CUSTOM_DND5E.form.button.new.label"}}
            </button>
            <button type="submit" data-tooltip="{{localize "CUSTOM_DND5E.form.button.save.tooltip"}}" class="save-button">
                <i class="fas fa-solid fa-floppy-disk"></i>{{localize "CUSTOM_DND5E.form.button.save.label"}}
            </button>
        </footer>
    </form>
</div>