<div class="standard-form">
    <div class="form-group">
        <label class="flex1" style="min-width:80px; max-width:200px;">{{localize "CUSTOM_DND5E.enableCounters"}}</label>
        <div class="form-fields">
            <dnd5e-checkbox id="custom-dnd5e-counters" name="counters"{{#if (ne counters false)}} checked{{/if}}></dnd5e-checkbox>
        </div>
    </div>
    <hr>
    <nav class="sheet-tabs tabs" style="flex: none;">
        <a class="item{{#if (eq activeTab 'characters')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="characters">
            <span>
                <i class="fa-solid fa-user"></i>
                {{localize "CUSTOM_DND5E.characters"}}
            </span>
        </a>
        <a class="item{{#if (eq activeTab 'npcs')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="npcs">
            <span>
                <i class="fa-solid fa-robot"></i>
                {{localize "CUSTOM_DND5E.npcs"}}
            </span>
        </a>
        <a class="item{{#if (eq activeTab 'groups')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="groups">
            <span>
                <i class="fa-solid fa-people-group"></i>
                {{localize "CUSTOM_DND5E.groups"}}
            </span>
        </a>
        <a class="item{{#if (eq activeTab 'items')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="items">
            <span>
                <i class="fa-solid fa-backpack"></i>
                {{localize "CUSTOM_DND5E.items"}}
            </span>
        </a>
    </nav>
    <hr>
    <div class="standard-form scrollable">
        <section class="tab{{#if (eq activeTab 'characters')}} active{{/if}}" data-actor-type="character" data-group="primary" data-tab="characters">
            <div class="custom-dnd5e-items-sections">
                <div class="items-section card">
                    <div class="items-header header">
                        <h3 class="item-name">{{localize "CUSTOM_DND5E.form.counters.listTitle"}}</h3>
                    </div>
                    <ol class="item-list unlist custom-dnd5e-list">
                        {{> "modules/custom-dnd5e/templates/counters-list.hbs" actorType="character" counters=settings.character}}
                    </ol>
                </div>
                <button type="button" data-action="new" class="gold-button always-interactive" aria-label="{{localize 'CUSTOM_DND5E.form.button.new.label'}}">
                    <i class="fas fa-plus" inert></i>
                </button>
            </div>
        </section>
        <section class="tab{{#if (eq activeTab 'npcs')}} active{{/if}}" data-actor-type="npc" data-group="primary" data-tab="npcs">
            <div class="custom-dnd5e-items-sections">
                <div class="items-section card">
                    <div class="items-header header">
                        <h3 class="item-name">{{localize "CUSTOM_DND5E.form.counters.listTitle"}}</h3>
                    </div>
                    <ol class="item-list unlist custom-dnd5e-list">
                        {{> "modules/custom-dnd5e/templates/counters-list.hbs" actorType="npc" counters=settings.npc}}
                    </ol>
                </div>
                <button type="button" data-action="new" class="gold-button always-interactive" aria-label="{{localize 'CUSTOM_DND5E.form.button.new.label'}}">
                    <i class="fas fa-plus" inert></i>
                </button>
            </div>
        </section>
        <section class="tab{{#if (eq activeTab 'groups')}} active{{/if}}" data-actor-type="group" data-group="primary" data-tab="groups">
            <div class="custom-dnd5e-items-sections">
                <div class="items-section card">
                    <div class="items-header header">
                        <h3 class="item-name">{{localize "CUSTOM_DND5E.form.counters.listTitle"}}</h3>
                    </div>
                    <ol class="item-list unlist custom-dnd5e-list">
                        {{> "modules/custom-dnd5e/templates/counters-list.hbs" actorType="group" counters=settings.group}}
                    </ol>
                </div>
                <button type="button" data-action="new" class="gold-button always-interactive" aria-label="{{localize 'CUSTOM_DND5E.form.button.new.label'}}">
                    <i class="fas fa-plus" inert></i>
                </button>
            </div>
        </section>
        <section class="tab{{#if (eq activeTab 'items')}} active{{/if}}" data-actor-type="item" data-group="primary" data-tab="items">
            <div class="custom-dnd5e-items-sections">
                <div class="items-section card">
                    <div class="items-header header">
                        <h3 class="item-name">{{localize "CUSTOM_DND5E.form.counters.listTitle"}}</h3>
                    </div>
                    <ol class="item-list unlist custom-dnd5e-list">
                        {{> "modules/custom-dnd5e/templates/counters-list.hbs" actorType="item" counters=settings.item}}
                    </ol>
                </div>
                <button type="button" data-action="new" class="gold-button always-interactive" aria-label="{{localize 'CUSTOM_DND5E.form.button.new.label'}}">
                    <i class="fas fa-plus" inert></i>
                </button>
            </div>
        </section>
    </div>
    <footer class="form-footer" data-application-part="footer">
        <button type="submit" class="save-button">
            <i class="fas fa-solid fa-floppy-disk"></i>{{localize "CUSTOM_DND5E.form.button.save.label"}}
        </button>
    </footer>
</div>