<ul class="custom-dnd5e-list flexcol">
    {{#each counters as |item key|}}
        <li class="custom-dnd5e-item flexrow" draggable="true" data-key="{{key}}">
            <div class="custom-dnd5e-item-group flexrow">
                <i class="custom-dnd5e-drag flex0 fas fa-grip-lines" draggable="true"></i>
                <input id="visible" name="{{key}}.visible" type="checkbox" data-tooltip="{{localize "CUSTOM_DND5E.form.checkbox.visible.tooltip"}}"{{#unless (boolfalse visible)}} checked{{/unless}}>
                <div class="fields flexrow">
                    <input id="actorType" name="{{key}}.actorType" type="hidden" value="{{../actorType}}">
                    <input id="key" name="{{key}}.key" type="hidden" value="{{key}}">
                    <div class="field">
                        <label>{{localize "CUSTOM_DND5E.label"}}</label>
                        <input id="label" name="{{key}}.label" type="text" value="{{localize label}}">
                    </div>
                    <div class="field">
                        <label>{{localize "CUSTOM_DND5E.type"}}</label>
                        <select id="type" name="{{key}}.type">
                            {{#select type}}
                            <option value="checkbox">{{localize "CUSTOM_DND5E.checkbox"}}</option>
                            <option value="fraction">{{localize "CUSTOM_DND5E.fraction"}}</option>
                            <option value="number">{{localize "CUSTOM_DND5E.number"}}</option>
                            <option value="successFailure">{{localize "CUSTOM_DND5E.successFailure"}}</option>
                            {{/select}}
                        </select>
                    </div>
                </div>
                <a alt="{{localize "CUSTOM_DND5E.form.counters.advancedOptions.tooltip"}}" data-action="advanced-options" data-tooltip="{{localize "CUSTOM_DND5E.form.counters.advancedOptions.tooltip"}}" data-tooltip-direction="UP" class="flex0" >
                    <i class="fa-solid fa-gear"></i>
                </a>
                <a alt="{{localize "CUSTOM_DND5E.form.counters.copyProperty.tooltip"}}" data-action="copy-property" data-tooltip="{{localize "CUSTOM_DND5E.form.counters.copyProperty.tooltip"}}" data-tooltip-direction="UP" class="flex0" >
                    <i class="fa-solid fa-at"></i>
                </a>
                <button type="button" data-tooltip="{{localize "CUSTOM_DND5E.form.button.delete.tooltip"}}" data-action="delete" class="flex0 delete-button">
                    <i class="fas fa-xmark"></i>
                </button>
                <input id="delete" name="{{key}}.delete" type="hidden" value="false">
            </div>
        </li>
    {{/each}}
</ul>