<div class="standard-form">
    <div class="form-group">
        <label class="flex1" style="min-width:80px; max-width:200px;">{{localize "CUSTOM_DND5E.enableCounters"}}</label>
        <div class="form-fields">
            <dnd5e-checkbox id="custom-dnd5e-counters" name="counters"{{#if (ne counters false)}} checked{{/if}}></dnd5e-checkbox>
        </div>
    </div>
    <hr>
    <nav class="sheet-tabs tabs" style="flex: none;">
        <a class="item active" data-action="tab" data-group="primary" data-tab="characters">
            <span>
                <i class="fa-solid fa-user"></i>
                {{localize "CUSTOM_DND5E.characters"}}
            </span>
        </a>
        <a class="item" data-action="tab" data-group="primary" data-tab="npcs">
            <span>
                <i class="fa-solid fa-robot"></i>
                {{localize "CUSTOM_DND5E.npcs"}}
            </span>
        </a>
        <a class="item" data-action="tab" data-group="primary" data-tab="groups">
            <span>
                <i class="fa-solid fa-people-group"></i>
                {{localize "CUSTOM_DND5E.groups"}}
            </span>
            
        </a>
        <a class="item" data-action="tab" data-group="primary" data-tab="items" style="gap:0.25rem; align-items: center; display:inline-flex;">
            <span>
                <i class="fa-solid fa-backpack"></i>
                {{localize "CUSTOM_DND5E.items"}}
            </span>
        </a>
    </nav>
    <hr>
    <div class="standard-form scrollable">
        <section class="tab active" data-actor-type="character" data-group="primary" data-tab="characters">
            <ul class="custom-dnd5e-list flexcol">
                {{> "modules/custom-dnd5e/templates/counters-list.hbs" actorType="character" counters=settings.character selects=selects}}
            </ul>
        </section>
        <section class="tab" data-actor-type="npc" data-group="primary" data-tab="npcs">
            <ul class="custom-dnd5e-list flexcol">
                {{> "modules/custom-dnd5e/templates/counters-list.hbs" actorType="npc" counters=settings.npc selects=selects}}
            </ul>
        </section>
        <section class="tab" data-actor-type="group" data-group="primary" data-tab="groups">
            <ul class="custom-dnd5e-list flexcol">
                {{> "modules/custom-dnd5e/templates/counters-list.hbs" actorType="group" counters=settings.group selects=selects}}
            </ul>
        </section>
        <section class="tab" data-actor-type="item" data-group="primary" data-tab="items">
            <ul class="custom-dnd5e-list flexcol">
                {{> "modules/custom-dnd5e/templates/counters-list.hbs" actorType="item" counters=settings.item selects=selects}}
            </ul>
        </section>
    </div>
    <footer class="form-footer" data-application-part="footer">
        <button type="button" data-action="new" class="new-button bright">
            <i class="fas fa-plus"></i>{{localize "CUSTOM_DND5E.form.button.new.label"}}
        </button>
        <button type="submit" class="save-button">
            <i class="fas fa-solid fa-floppy-disk"></i>{{localize "CUSTOM_DND5E.form.button.save.label"}}
        </button>
    </footer>
</div> 