<div class="standard-form">
    <div class="standard-form scrollable">
        <input id="custom-dnd5e-system" name="{{key}}.system" type="hidden" value="{{#if (customDnd5eBoolFalse system)}}false{{else}}true{{/if}}">
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.key"}}</label>
            <div class="form-fields">
                {{#if (customDnd5eBoolFalse system)}}
                <input id="custom-dnd5e-key" name="{{key}}.key" type="text" value="{{localize key}}">
                {{else}}
                <input id="custom-dnd5e-disabled-key" disabled name="{{key}}.disabledKey" type="text" value="{{localize key}}">
                <input id="custom-dnd5e-key" name="{{key}}.key" type="hidden" value="{{localize key}}">
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.label"}}</label>
            <div class="form-fields">
                <input id="custom-dnd5e-label" name="{{key}}.label" type="text" value="{{localize label}}">
            </div>
        </div>
                <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.plural"}}</label>
            <div class="form-fields">
                <input id="custom-dnd5e-plural" name="{{key}}.plural" type="text" value="{{localize plural}}">
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.icon"}}</label>
            <div class="form-fields">
                <file-picker id="custom-dnd5e-icon" name="{{key}}.icon" type="image" value="{{icon}}"></file-picker>
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.reference"}}</label>
            <div class="form-fields">
                <input id="custom-dnd5e-reference" name="{{key}}.reference" type="text" value="{{reference}}">
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.detectAlignment"}}</label>
            <div class="form-fields">
                <dnd5e-checkbox id="custom-dnd5e-detect-alignment" name="{{key}}.detectAlignment"{{#if detectAlignment}} checked{{/if}}></dnd5e-checkbox>
            </div>
        </div>
    </div>
    {{> "modules/custom-dnd5e/templates/footer.hbs" system=system}}
</div>