{{#each items as |item key|}}
<li class="custom-dnd5e-item flexrow" data-key="{{key}}">
    <i class="custom-dnd5e-drag flex0 fas fa-grip-lines" draggable="true"></i>
    <input id="visible" name="{{key}}.visible" type="checkbox" data-tooltip="{{localize "CUSTOM_DND5E.form.checkbox.visible.tooltip"}}"{{#unless (boolfalse visible)}} checked{{/unless}}>
    <div class="fields flexrow">
        <input id="key" name="{{key}}.key" type="hidden" value="{{key}}">
        <input id="system" name="{{key}}.system" type="hidden" value="{{#if (boolfalse system)}}false{{else}}true{{/if}}">
        <div class="field">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.label"}}</label>
            <input id="label" name="{{key}}.label" type="text" value="{{localize label}}">
        </div>
        <div class="field">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.abbreviation"}}</label>
            <input id="abbreviation" name="{{key}}.abbreviation" type="text" value="{{localize abbreviation}}">
        </div>
        <div class="field">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.conversion"}}</label>
            <input id="conversion" name="{{key}}.conversion" type="number" value="{{conversion}}">
        </div>
    </div>
    <button{{#unless (boolfalse system)}} class="hidden"{{/unless}} type="button" data-tooltip="{{localize "CUSTOM_DND5E.form.button.delete.tooltip"}}" data-action="delete" class="flex0 custom-dnd5e-list-button">
        <i class="fas fa-xmark"></i>
    </button>
    <input id="delete" name="{{key}}.delete" type="hidden" value="false">
</li>
{{/each}}