{{#each items as |item key|}}
<li class="custom-dnd5e-item flexrow" data-key="{{key}}">
    <i class="custom-dnd5e-drag flex0 fas fa-grip-lines" draggable="true"></i>
    <input id="custom-dnd5e-visible" class="flex0" name="{{key}}.visible" type="checkbox" data-tooltip="{{localize "CUSTOM_DND5E.form.checkbox.visible.tooltip"}}"{{#unless (customDnd5eBoolFalse visible)}} checked{{/unless}}>
    <div class="custom-dnd5e-col-group flexcol">
        <input id="custom-dnd5e-key" name="{{key}}.key" type="hidden" value="{{key}}">
        <input id="custom-dnd5e-system" name="{{key}}.system" type="hidden" value="{{#if (customDnd5eBoolFalse system)}}false{{else}}true{{/if}}">
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.label"}}</label>
            <div class="form-fields">
                <input id="custom-dnd5e-label" name="{{key}}.label" type="text" value="{{localize label}}">
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.abbreviation"}}</label>
            <div class="form-fields">
                <input id="custom-dnd5e-abbreviation" name="{{key}}.abbreviation" type="text" value="{{localize abbreviation}}">
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.conversion"}}</label>
            <div class="form-fields">
                <input id="custom-dnd5e-conversion" name="{{key}}.conversion" type="number" value="{{conversion}}" step="0.1">
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.icon"}}</label>
            <div class="form-fields">
                <file-picker id="custom-dnd5e-icon" name="{{key}}.icon" type="image" value="{{icon}}"></file-picker>
            </div>
        </div>
    </div>
    <button{{#unless (customDnd5eBoolFalse system)}} class="hidden"{{/unless}} type="button" data-action="delete" data-tooltip="{{localize "CUSTOM_DND5E.form.button.delete.tooltip"}}"  class="flex0 custom-dnd5e-list-button">
        <i class="fas fa-xmark"></i>
    </button>
    <input id="custom-dnd5e-delete" name="{{key}}.delete" type="hidden" value="false">
</li>
{{/each}}