<div class="standard-form">
    <div class="standard-form scrollable">
        <div class="form-group">
            <label>{{localize "CUSTOM_DND5E.form.debug.consoleMessages.label"}}</label>
            <div class="form-fields">
                <dnd5e-checkbox id="custom-dnd5e-debug" name="debug"{{#if debug}} checked{{/if}}></dnd5e-checkbox>
            </div>
            <p class="hint">{{localize "CUSTOM_DND5E.form.debug.consoleMessages.note.1"}}</label>
            <p class="custom-dnd5e-advice notes">{{localize "CUSTOM_DND5E.form.debug.consoleMessages.note.2"}}</label>
        </div>
        <div class="form-group">
            <label>{{localize "CUSTOM_DND5E.exportData"}}</label>
            <div class="form-fields">
                 <button type="button" data-action="export" data-tooltip="{{localize "CUSTOM_DND5E.form.debug.button.exportData.tooltip"}}" style="flex:1;">
                    <i class="fas fa-solid fa-file-export"></i>{{localize "CUSTOM_DND5E.exportData"}}
                </button>
            </div>
            <p class="hint">{{localize "CUSTOM_DND5E.form.debug.exportData.note"}}</label>
        </div>
        <div class="form-group">
            <label>{{localize "CUSTOM_DND5E.importData"}}</label>
            <div class="form-fields">
                 <button type="button" data-action="import" style="flex:1;">
                    <i class="fas fa-solid fa-file-import"></i>{{localize "CUSTOM_DND5E.importData"}}
                </button>
            </div>
            <p class="hint">{{localize "CUSTOM_DND5E.form.debug.importData.note.1"}}</label>
        </div>
        
    </div>
    <footer class="form-footer" data-application-part="footer">
        <button type="submit" class="save-button">
            <i class="fas fa-solid fa-floppy-disk"></i>{{localize "CUSTOM_DND5E.form.button.save.label"}}
        </button>
    </footer>
</div>
