<div id="custom-dnd5e-form" class="standard-form" data-help-uuid="{{helpUuid}}">
    <div class="standard-form scrollable">
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.dead"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.DePfY7KUVlToh5dx" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.dead.applyDead.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-apply-dead" name="applyDead"{{#if applyDead}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.dead.applyDead.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.dead.applyInstantDeath.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-apply-instant-death" name="applyInstantDeath"{{#if applyInstantDeath}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.dead.applyInstantDeath.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.rotation"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-dead-rotation" name="deadRotation" type="number" value="{{deadRotation}}"> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.dead.deadRotation.note.1"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.tint"}}</label>
                <div class="form-fields">
                    <color-picker id="custom-dnd5e-dead-tint" name="deadTint" value="{{deadTint}}"></color-picker>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.dead.deadTint.note.1"}}</p>
                <p class="custom-dnd5e-advice notes">{{localize "CUSTOM_DND5E.form.gameplay.dead.deadTint.note.2"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.deathSavingThrows"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.qgLFKLoCIKJSEh5f" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.rollMode"}}</label>
                <div class="form-fields">
                    <select id="death-saves-roll-mode" name="deathSavesRollMode">
                        {{selectOptions selects.deathSavesRollMode.choices selected=deathSavesRollMode localize=true}}
                    </select>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.deathSaves.deathSavesRollMode.note.1"}}</p>
                <p class="custom-dnd5e-advice notes">{{localize "CUSTOM_DND5E.form.gameplay.deathSaves.deathSavesRollMode.note.2"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.deathSaves.deathSavesTargetValue.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-death-saves-target-value" name="deathSavesTargetValue" type="number" value="{{deathSavesTargetValue}}"> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.deathSaves.deathSavesTargetValue.note"}}</p>
            </div>
            <h3>{{localize "CUSTOM_DND5E.form.gameplay.deathSaves.removeDeathSavesOnEvent.heading"}}</h3>
            <p class="custom-dnd5e-advice notes">{{localize "CUSTOM_DND5E.form.gameplay.deathSaves.removeDeathSavesOnEvent.note"}}</p>
            <fieldset>
                <legend>{{localize "CUSTOM_DND5E.onRegainingHpFromZero"}}</legend>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.successes"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-remove-death-saves-regain-hp-success" name="removeDeathSaves.regainHp.success" type="number" value="{{removeDeathSaves.regainHp.success}}"> 
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.failures"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-remove-death-saves-regain-hp-failure" name="removeDeathSaves.regainHp.failure" type="number" value="{{removeDeathSaves.regainHp.failure}}"> 
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>{{localize "CUSTOM_DND5E.onShortRest"}}</legend>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.successes"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-remove-death-saves-short-rest-success" name="removeDeathSaves.shortRest.success" type="number" value="{{removeDeathSaves.shortRest.success}}"> 
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.failures"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-remove-death-saves-short-rest-failure" name="removeDeathSaves.shortRest.failure" type="number" value="{{removeDeathSaves.shortRest.failure}}"> 
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>{{localize "CUSTOM_DND5E.onLongRest"}}</legend>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.successes"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-remove-death-saves-long-rest-success" name="removeDeathSaves.longRest.success" type="number" value="{{removeDeathSaves.longRest.success}}"> 
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.failures"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-remove-death-saves-long-rest-failure" name="removeDeathSaves.longRest.failure" type="number" value="{{removeDeathSaves.longRest.failure}}"> 
                    </div>
                </div>
            </fieldset>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.exhaustion"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.vfBCdjS2G75Ll8Qz" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.exhaustion.applyExhaustionOnZeroHp.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-apply-exhaustion-on-zero-hp" name="applyExhaustionOnZeroHp"{{#if applyExhaustionOnZeroHp}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.exhaustion.applyExhaustionOnZeroHp.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.exhaustion.applyExhaustionOnCombatEnd.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-apply-exhaustion-on-combat-end" name="applyExhaustionOnCombatEnd"{{#if applyExhaustionOnCombatEnd}} checked{{/if}}></dnd5e-checkbox> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.exhaustion.applyExhaustionOnCombatEnd.note"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.massiveDamage"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.mD4kTbR2xWpLnQ7v" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.hitPoints.applyMassiveDamage.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-apply-massive-damage" name="applyMassiveDamage"{{#if applyMassiveDamage}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.hitPoints.applyMassiveDamage.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.hitPoints.massiveDamageAnimation.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-massive-damage-animation" name="massiveDamageAnimation"{{#if massiveDamageAnimation}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.hitPoints.massiveDamageAnimation.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.hitPoints.massiveDamageTable.label"}}</label>
                <div class="form-fields">
                    <div class="massive-damage-table-field flex1{{#unless massiveDamageTableName}} hidden{{/unless}}">
                        <span class="massive-damage-table-name">{{massiveDamageTableName}}</span>
                        <button type="button" data-action="clearMassiveDamageTable" class="unbutton control-button" data-tooltip="{{localize 'CUSTOM_DND5E.form.gameplay.hitPoints.massiveDamageTable.clear'}}" aria-label="{{localize 'CUSTOM_DND5E.form.gameplay.hitPoints.massiveDamageTable.clear'}}">
                            <i class="fa-solid fa-trash" inert></i>
                        </button>
                    </div>
                    <div class="drop-area flex1{{#if massiveDamageTableName}} hidden{{/if}}">{{localize "CUSTOM_DND5E.form.gameplay.hitPoints.massiveDamageTable.dropHint"}}</div>
                    <input type="hidden" name="massiveDamageTableUuid" value="{{massiveDamageTableUuid}}">
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.hitPoints.massiveDamageTable.note"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.hitPoints"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.MVXx2yD2pAfzQBU5" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <h3>{{localize "CUSTOM_DND5E.rollingHitPoints"}}</h3>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.rollingHitPoints.minimumValue.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-level-up-hit-points-reroll-minimum-value" name="levelUpHitPointsRerollMinimumValue" type="number" value="{{levelUpHitPointsRerollMinimumValue}}"> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.rollingHitPoints.minimumValue.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.rollingHitPoints.rerollOnce.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-level-up-hit-points-reroll-once" name="levelUpHitPointsRerollOnce"{{#if levelUpHitPointsRerollOnce}} checked{{/if}}></dnd5e-checkbox> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.rollingHitPoints.rerollOnce.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.rollingHitPoints.showTakeAverage.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-level-up-hit-points-show-take-average" name="levelUpHitPointsShowTakeAverage"{{#if levelUpHitPointsShowTakeAverage}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.rollingHitPoints.showTakeAverage.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.rollingHitPoints.rollNpcHp.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-roll-npc-hp" name="rollNpcHp"{{#if rollNpcHp}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.rollingHitPoints.rollNpcHp.note"}}</p>
            </div>
            <h3>{{localize "CUSTOM_DND5E.negativeHitPoints"}}</h3>
            <div class="form-group">
                <label style="flex: 3;">{{localize "CUSTOM_DND5E.form.gameplay.hitPoints.applyNegativeHp.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-apply-negative-hp" name="applyNegativeHp"{{#if applyNegativeHp}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.hitPoints.applyNegativeHp.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.hitPoints.applyNegativeHpNpc.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-apply-negative-hp-npc" name="applyNegativeHpNpc"{{#if applyNegativeHpNpc}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.hitPoints.applyNegativeHpNpc.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.hitPoints.negativeHpHealFromZero.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-negative-hp-heal-from-zero" name="negativeHpHealFromZero"{{#if negativeHpHealFromZero}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.hitPoints.negativeHpHealFromZero.note"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.initiative"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.PinXfgV1fJKcVAcG" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.initiative.rerollInitiativeEachRound.label"}}</label>
                <div class="form-fields">
                    <select id="custom-dnd5e-reroll-initiative-each-round" name="rerollInitiativeEachRound">
                        {{selectOptions selects.rerollInitiativeEachRound.choices selected=rerollInitiativeEachRound localize=true}}
                    </select>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.initiative.rerollInitiativeEachRound.note"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.inspiration"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.HTh2Dt4vpGjpfSbE" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <h3>{{localize "CUSTOM_DND5E.awardInspiration"}}</h3>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.inspiration.awardInspirationDiceValue.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-award-inspiration-d20-value" name="awardInspirationD20Value" type="number" min="1" max="20" value="{{awardInspirationD20Value}}"> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.inspiration.awardInspirationDiceValue.note"}}</p>
            </div>
            <div class="form-group stacked checkbox-grid">
                <label style="flex: 0 0 100%;">{{localize "CUSTOM_DND5E.rollTypes"}}</label>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.inspiration.awardInspirationRollTypes.note"}}</p>
                <div class="form-fields">
                    <label class="checkbox">
                        <dnd5e-checkbox id="custom-dnd5e-rollAbilityCheck" name="awardInspirationRollTypes.rollAbilityCheck"{{#if awardInspirationRollTypes.rollAbilityCheck}} checked{{/if}}></dnd5e-checkbox>
                        <span>{{localize "CUSTOM_DND5E.abilityCheck"}}</span>
                    </label>
                    <label class="checkbox">
                        <dnd5e-checkbox id="custom-dnd5e-rollAttack" name="awardInspirationRollTypes.rollAttack"{{#if awardInspirationRollTypes.rollAttack}} checked{{/if}}></dnd5e-checkbox>
                        <span>{{localize "CUSTOM_DND5E.attackRoll"}}</span>
                    </label>
                    <label class="checkbox">
                        <dnd5e-checkbox id="custom-dnd5e-rollSavingThrow" name="awardInspirationRollTypes.rollSavingThrow"{{#if awardInspirationRollTypes.rollSavingThrow}} checked{{/if}}></dnd5e-checkbox>
                        <span>{{localize "CUSTOM_DND5E.savingThrow"}}</span>
                    </label>
                    <label class="checkbox">
                        <dnd5e-checkbox id="custom-dnd5e-rollSkill" name="awardInspirationRollTypes.rollSkill"{{#if awardInspirationRollTypes.rollSkill}} checked{{/if}}></dnd5e-checkbox>
                        <span>{{localize "CUSTOM_DND5E.skillCheck"}}</span>
                    </label>
                    <label class="checkbox">
                        <dnd5e-checkbox id="custom-dnd5e-rollToolCheck" name="awardInspirationRollTypes.rollToolCheck"{{#if awardInspirationRollTypes.rollToolCheck}} checked{{/if}}></dnd5e-checkbox>
                        <span>{{localize "CUSTOM_DND5E.toolCheck"}}</span>
                    </label>
                    </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.averageDamage"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.v2HNu6zP1mJYuxw0" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.averageDamage.use.label"}}</label>
                <div class="form-fields">
                    <select id="custom-dnd5e-use-average-damage" name="useAverageDamage">
                        {{selectOptions selects.averageDamage.choices selected=useAverageDamage localize=true}}
                    </select>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.averageDamage.use.note"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.mobDamage"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.dIs1nJrpCky0jFwT" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.mobDamage.enable.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-enable-mob-damage" name="enableMobDamage"{{#if enableMobDamage}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.mobDamage.enable.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.mobDamage.useAverageDamage.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-use-average-mob-damage" name="useAverageMobDamage"{{#if useAverageMobDamage}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.mobDamage.useAverageDamage.note"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.probabilisticDamage"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.tWo28mw1ZAhLMqO5" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.probabilisticDamage.enable.label"}}</label>
                <div class="form-fields">
                    <select id="custom-dnd5e-enable-probabilistic-damage" name="enableProbabilisticDamage">
                        {{selectOptions selects.probabilisticDamage.choices selected=enableProbabilisticDamage localize=true}}
                    </select>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.probabilisticDamage.enable.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.probabilisticDamage.useAverageDamage.label"}}</label>
                <div class="form-fields">
                    <select id="custom-dnd5e-use-average-probabilistic-damage" name="useAverageProbabilisticDamage">
                        {{selectOptions selects.probabilisticDamage.choices selected=useAverageProbabilisticDamage localize=true}}
                    </select>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.probabilisticDamage.useAverageDamage.note"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.prone"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.dTzGT5PWvgrhMohx" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.rotation"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-prone-rotation" name="proneRotation" type="number" value="{{proneRotation}}"> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.prone.proneRotation.note.1"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.resting"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.lR4mGZPNE02Lbe6t" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.useCampSupplies"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-use-camp-supplies" name="useCampSupplies"{{#if useCampSupplies}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.resting.useCampSupplies.note"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.unconscious"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.DLpxGddzm7rKpgsO" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.gameplay.unconscious.applyUnconscious.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-apply-unconscious" name="applyUnconscious"{{#if applyUnconscious}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.gameplay.unconscious.applyUnconscious.note"}}</p>
            </div>
        </fieldset>
    </div>
    <footer class="form-footer" data-application-part="footer">
        <button type="button" data-action="reset" class="reset-button bright">
            <i class="fas fa-arrow-rotate-left"></i>{{localize "CUSTOM_DND5E.form.button.reset.label"}}
        </button>
        <button type="submit" class="save-button">
            <i class="fas fa-solid fa-floppy-disk"></i>{{localize "CUSTOM_DND5E.form.button.save.label"}}
        </button>
    </footer>
</div>
