<div id="custom-dnd5e-form" class="standard-form" data-help-uuid="{{helpUuid}}">
    <div class="standard-form scrollable">
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.bloodied"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.P9uilIbvjoLg1l1l" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.bloodied.applyBloodied.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-apply-bloodied" name="applyBloodied"{{#if applyBloodied}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.bloodied.applyBloodied.note1"}}</p>
                <p class="custom-dnd5e-warning notes">{{localize "CUSTOM_DND5E.form.houseRules.bloodied.applyBloodied.note2"}}</p>
            </div>
              <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.bloodied.removeBloodiedOnDead.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-remove-bloodied-on-dead" name="removeBloodiedOnDead"{{#if removeBloodiedOnDead}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.bloodied.removeBloodiedOnDead.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.bloodied.bloodiedIcon.label"}}</label>
                <div class="form-fields">
                    <file-picker id="custom-dnd5e-bloodied-icon" name="bloodiedIcon" type="image" value="{{bloodiedIcon}}"></file-picker>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.bloodied.bloodiedIcon.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.tint"}}</label>
                <div class="form-fields">
                    <color-picker  id="custom-dnd5e-bloodied-tint" name="bloodiedTint" value="{{bloodiedTint}}"></color-picker>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.bloodied.bloodiedTint.note.1"}}</p>
                <p class="custom-dnd5e-advice notes">{{localize "CUSTOM_DND5E.form.houseRules.bloodied.bloodiedTint.note.2"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.dead"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.DePfY7KUVlToh5dx" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.dead.applyDead.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-apply-dead" name="applyDead"{{#if applyDead}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.dead.applyDead.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.dead.applyInstantDeath.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-apply-instant-death" name="applyInstantDeath"{{#if applyInstantDeath}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.dead.applyInstantDeath.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.rotation"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-dead-rotation" name="deadRotation" type="number" value="{{deadRotation}}"> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.dead.deadRotation.note.1"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.tint"}}</label>
                <div class="form-fields">
                    <color-picker id="custom-dnd5e-dead-tint" name="deadTint" value="{{deadTint}}"></color-picker>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.dead.deadTint.note.1"}}</p>
                <p class="custom-dnd5e-advice notes">{{localize "CUSTOM_DND5E.form.houseRules.dead.deadTint.note.2"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.deathSavingThrows"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.qgLFKLoCIKJSEh5f" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.rollMode"}}</label>
                <div class="form-fields">
                    <select id="death-saves-roll-mode" name="deathSavesRollMode">
                        {{selectOptions selects.deathSavesRollMode.choices selected=deathSavesRollMode localize=true}}
                    </select>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.deathSaves.deathSavesRollMode.note.1"}}</p>
                <p class="custom-dnd5e-advice notes">{{localize "CUSTOM_DND5E.form.houseRules.deathSaves.deathSavesRollMode.note.2"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.deathSaves.deathSavesTargetValue.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-death-saves-target-value" name="deathSavesTargetValue" type="number" value="{{deathSavesTargetValue}}"> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.deathSaves.deathSavesTargetValue.note"}}</p>
            </div>
            <h3>{{localize "CUSTOM_DND5E.form.houseRules.deathSaves.removeDeathSavesOnEvent.heading"}}</h3>
            <p class="custom-dnd5e-advice notes">{{localize "CUSTOM_DND5E.form.houseRules.deathSaves.removeDeathSavesOnEvent.note"}}</p>
            <fieldset>
                <legend>{{localize "CUSTOM_DND5E.onRegainingHpFromZero"}}</legend>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.successes"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-remove-death-saves-regain-hp-success" name="removeDeathSaves.regainHp.success" type="number" value="{{removeDeathSaves.regainHp.success}}"> 
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.failures"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-remove-death-saves-regain-hp-failure" name="removeDeathSaves.regainHp.failure" type="number" value="{{removeDeathSaves.regainHp.failure}}"> 
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>{{localize "CUSTOM_DND5E.onShortRest"}}</legend>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.successes"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-remove-death-saves-short-rest-success" name="removeDeathSaves.shortRest.success" type="number" value="{{removeDeathSaves.shortRest.success}}"> 
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.failures"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-remove-death-saves-short-rest-failure" name="removeDeathSaves.shortRest.failure" type="number" value="{{removeDeathSaves.shortRest.failure}}"> 
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>{{localize "CUSTOM_DND5E.onLongRest"}}</legend>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.successes"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-remove-death-saves-long-rest-success" name="removeDeathSaves.longRest.success" type="number" value="{{removeDeathSaves.longRest.success}}"> 
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.failures"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-remove-death-saves-long-rest-failure" name="removeDeathSaves.longRest.failure" type="number" value="{{removeDeathSaves.longRest.failure}}"> 
                    </div>
                </div>
            </fieldset>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.exhaustion"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.vfBCdjS2G75Ll8Qz" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.exhaustion.applyExhaustionOnZeroHp.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-apply-exhaustion-on-zero-hp" name="applyExhaustionOnZeroHp"{{#if applyExhaustionOnZeroHp}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.exhaustion.applyExhaustionOnZeroHp.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.exhaustion.applyExhaustionOnCombatEnd.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-apply-exhaustion-on-combat-end" name="applyExhaustionOnCombatEnd"{{#if applyExhaustionOnCombatEnd}} checked{{/if}}></dnd5e-checkbox> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.exhaustion.applyExhaustionOnCombatEnd.note"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.hitPoints"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.MVXx2yD2pAfzQBU5" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.hitPoints.applyMassiveDamage.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-apply-massive-damage" name="applyMassiveDamage"{{#if applyMassiveDamage}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.hitPoints.applyMassiveDamage.note"}}</p>
            </div>
            <h3>{{localize "CUSTOM_DND5E.rollingHitPoints"}}</h3>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.rollingHitPoints.minimumValue.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-level-up-hit-points-reroll-minimum-value" name="levelUpHitPointsRerollMinimumValue" type="number" value="{{levelUpHitPointsRerollMinimumValue}}"> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.rollingHitPoints.minimumValue.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.rollingHitPoints.rerollOnce.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-level-up-hit-points-reroll-once" name="levelUpHitPointsRerollOnce"{{#if levelUpHitPointsRerollOnce}} checked{{/if}}></dnd5e-checkbox> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.rollingHitPoints.rerollOnce.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.rollingHitPoints.showTakeAverage.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-level-up-hit-points-show-take-average" name="levelUpHitPointsShowTakeAverage"{{#if levelUpHitPointsShowTakeAverage}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.rollingHitPoints.showTakeAverage.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.rollingHitPoints.rollNpcHp.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-roll-npc-hp" name="rollNpcHp"{{#if rollNpcHp}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.rollingHitPoints.rollNpcHp.note"}}</p>
            </div>
            <h3>{{localize "CUSTOM_DND5E.negativeHitPoints"}}</h3>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.hitPoints.applyNegativeHp.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-apply-negative-hp" name="applyNegativeHp"{{#if applyNegativeHp}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.hitPoints.applyNegativeHp.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.hitPoints.negativeHpHealFromZero.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-negative-hp-heal-from-zero" name="negativeHpHealFromZero"{{#if negativeHpHealFromZero}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.hitPoints.negativeHpHealFromZero.note"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.initiative"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.PinXfgV1fJKcVAcG" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.initiative.rerollInitiativeEachRound.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-reroll-initiative-each-round" name="rerollInitiativeEachRound"{{#if rerollInitiativeEachRound}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.initiative.rerollInitiativeEachRound.note"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.inspiration"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.HTh2Dt4vpGjpfSbE" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <h3>{{localize "CUSTOM_DND5E.awardInspiration"}}</h3>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.inspiration.awardInspirationDiceValue.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-award-inspiration-d20-value" name="awardInspirationD20Value" type="number" min="1" max="20" value="{{awardInspirationD20Value}}"> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.inspiration.awardInspirationDiceValue.note"}}</p>
            </div>
            <div class="form-group stacked checkbox-grid">
                <label style="flex: 0 0 100%;">{{localize "CUSTOM_DND5E.rollTypes"}}</label>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.inspiration.awardInspirationRollTypes.note"}}</p>
                <label class="checkbox">
                    <dnd5e-checkbox id="custom-dnd5e-rollAbilityCheck" name="awardInspirationRollTypes.rollAbilityCheck"{{#if awardInspirationRollTypes.rollAbilityCheck}} checked{{/if}}></dnd5e-checkbox>
                    <span>{{localize "CUSTOM_DND5E.abilityCheck"}}</span>
                </label>
                <label class="checkbox">
                    <dnd5e-checkbox id="custom-dnd5e-rollAttack" name="awardInspirationRollTypes.rollAttack"{{#if awardInspirationRollTypes.rollAttack}} checked{{/if}}></dnd5e-checkbox>
                    <span>{{localize "CUSTOM_DND5E.attackRoll"}}</span>
                </label>
                <label class="checkbox">
                    <dnd5e-checkbox id="custom-dnd5e-rollAbilitySave" name="awardInspirationRollTypes.rollAbilitySave"{{#if awardInspirationRollTypes.rollAbilitySave}} checked{{/if}}></dnd5e-checkbox>
                    <span>{{localize "CUSTOM_DND5E.savingThrow"}}</span>
                </label>
                <label class="checkbox">
                    <dnd5e-checkbox id="custom-dnd5e-rollSkill" name="awardInspirationRollTypes.rollSkill"{{#if awardInspirationRollTypes.rollSkill}} checked{{/if}}></dnd5e-checkbox>
                    <span>{{localize "CUSTOM_DND5E.skillCheck"}}</span>
                </label>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.prone"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.dTzGT5PWvgrhMohx" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.rotation"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-prone-rotation" name="proneRotation" type="number" value="{{proneRotation}}"> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.prone.proneRotation.note.1"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.resting"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.lR4mGZPNE02Lbe6t" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.useCampSupplies"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-use-camp-supplies" name="useCampSupplies"{{#if useCampSupplies}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.resting.useCampSupplies.note"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>
                <span>{{localize "CUSTOM_DND5E.unconscious"}}</span>
                <button type="button" class="unbutton control-button" data-action="help" data-uuid="Compendium.custom-dnd5e.custom-dnd5e-journals.JournalEntry.ngr8w6WBycK59brj.JournalEntryPage.DLpxGddzm7rKpgsO" data-tooltip="{{localize "CUSTOM_DND5E.openGuide"}}" aria-label="{{localize "CUSTOM_DND5E.openGuide"}}">
                    <i class="fas fa-circle-info" inert></i>
                </button>
            </legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.unconscious.applyUnconscious.label"}}</label>
                <div class="form-fields">
                    <dnd5e-checkbox id="custom-dnd5e-apply-unconscious" name="applyUnconscious"{{#if applyUnconscious}} checked{{/if}}></dnd5e-checkbox>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.unconscious.applyUnconscious.note"}}</p>
            </div>
        </fieldset>
    </div>
    <footer class="form-footer" data-application-part="footer">
        <button type="button" data-action="reset" class="reset-button bright">
            <i class="fas fa-arrow-rotate-left"></i>{{localize "CUSTOM_DND5E.form.button.reset.label"}}
        </button>
        <button type="submit" class="save-button">
            <i class="fas fa-solid fa-floppy-disk"></i>{{localize "CUSTOM_DND5E.form.button.save.label"}}
        </button>
    </footer>
</div>
