<div class="standard-form">
    <div class="standard-form scrollable">
        <fieldset>
            <legend>{{localize "CUSTOM_DND5E.bloodied"}}</legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.bloodied.applyBloodied.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-apply-bloodied" name="applyBloodied" type="checkbox"{{#if applyBloodied}} checked{{/if}}>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.bloodied.applyBloodied.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.bloodied.bloodiedIcon.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-bloodied-icon" name="bloodiedIcon" type="text" value="{{bloodiedIcon}}">
                    {{filePicker target="bloodiedIcon" type="image"}}
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.bloodied.bloodiedIcon.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.tint"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-bloodied-tint" name="bloodiedTint" type="text" value="{{bloodiedTint}}"> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.bloodied.bloodiedTint.note.1"}}</p>
                <p class="custom-dnd5e-advice notes">{{localize "CUSTOM_DND5E.form.houseRules.bloodied.bloodiedTint.note.2"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{localize "CUSTOM_DND5E.unconscious"}}</legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.unconscious.applyUnconscious.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-apply-unconscious" name="applyUnconscious" type="checkbox"{{#if applyUnconscious}} checked{{/if}}> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.unconscious.applyUnconscious.note"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{localize "CUSTOM_DND5E.dead"}}</legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.dead.applyDead.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-apply-dead" name="applyDead" type="checkbox"{{#if applyDead}} checked{{/if}}> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.dead.applyDead.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.dead.applyInstantDeath.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-apply-instant-death" name="applyInstantDeath" type="checkbox"{{#if applyInstantDeath}} checked{{/if}}> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.dead.applyInstantDeath.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.rotation"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-dead-rotation" name="deadRotation" type="number" value="{{deadRotation}}"> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.dead.deadRotation.note.1"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.tint"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-dead-tint" name="deadTint" type="text" value="{{deadTint}}"> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.dead.deadTint.note.1"}}</p>
                <p class="custom-dnd5e-advice notes">{{localize "CUSTOM_DND5E.form.houseRules.dead.deadTint.note.2"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{localize "CUSTOM_DND5E.deathSavingThrows"}}</legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.rollMode"}}</label>
                <div class="form-fields">
                    <select id="death-saves-roll-mode" name="deathSavesRollMode">
                        {{selectOptions selects.deathSavesRollMode.choices selected=deathSavesRollMode localize=true}}
                    </select>
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.deathSaves.deathSavesRollMode.note.1"}}</p>
                <p class="custom-dnd5e-advice notes">{{localize "CUSTOM_DND5E.form.houseRules.deathSaves.deathSavesRollMode.note.2"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.deathSaves.deathSavesTargetValue.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-death-saves-target-value" name="deathSavesTargetValue" type="number" value="{{deathSavesTargetValue}}"> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.deathSaves.deathSavesTargetValue.note"}}</p>
            </div>
            <h3>{{localize "CUSTOM_DND5E.form.houseRules.deathSaves.removeDeathSavesOnEvent.heading"}}</h3>
            <p class="custom-dnd5e-advice notes">{{localize "CUSTOM_DND5E.form.houseRules.deathSaves.removeDeathSavesOnEvent.note"}}</p>
            <fieldset>
                <legend>{{localize "CUSTOM_DND5E.onRegainingHpFromZero"}}</legend>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.successes"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-remove-death-saves-regain-hp-success" name="removeDeathSaves.regainHp.success" type="number" value="{{removeDeathSaves.regainHp.success}}"> 
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.failures"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-remove-death-saves-regain-hp-failure" name="removeDeathSaves.regainHp.failure" type="number" value="{{removeDeathSaves.regainHp.failure}}"> 
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>{{localize "CUSTOM_DND5E.onShortRest"}}</legend>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.successes"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-remove-death-saves-short-rest-success" name="removeDeathSaves.shortRest.success" type="number" value="{{removeDeathSaves.shortRest.success}}"> 
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.failures"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-remove-death-saves-short-rest-failure" name="removeDeathSaves.shortRest.failure" type="number" value="{{removeDeathSaves.shortRest.failure}}"> 
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>{{localize "CUSTOM_DND5E.onLongRest"}}</legend>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.successes"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-remove-death-saves-long-rest-success" name="removeDeathSaves.longRest.success" type="number" value="{{removeDeathSaves.longRest.success}}"> 
                    </div>
                </div>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.failures"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-remove-death-saves-long-rest-failure" name="removeDeathSaves.longRest.failure" type="number" value="{{removeDeathSaves.longRest.failure}}"> 
                    </div>
                </div>
            </fieldset>
        </fieldset>
        <fieldset>
            <legend>{{localize "CUSTOM_DND5E.hitPoints"}}</legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.hitPoints.applyMassiveDamage.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-apply-massive-damage" name="applyMassiveDamage" type="checkbox"{{#if applyMassiveDamage}} checked{{/if}}> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.hitPoints.applyMassiveDamage.note"}}</p>
            </div>
            <h3>{{localize "CUSTOM_DND5E.rollingHitPoints"}}</h3>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.rollingHitPoints.minimumValue.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-level-up-hit-points-reroll-minimum-value" name="levelUpHitPointsRerollMinimumValue" type="number" value="{{levelUpHitPointsRerollMinimumValue}}"> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.rollingHitPoints.minimumValue.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.rollingHitPoints.rerollOnce.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-level-up-hit-points-reroll-once" name="levelUpHitPointsRerollOnce" type="checkbox"{{#if levelUpHitPointsRerollOnce}} checked{{/if}}> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.rollingHitPoints.rerollOnce.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.rollingHitPoints.showTakeAverage.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-level-up-hit-points-show-take-average" name="levelUpHitPointsShowTakeAverage" type="checkbox"{{#if levelUpHitPointsShowTakeAverage}} checked{{/if}}> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.rollingHitPoints.showTakeAverage.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.rollingHitPoints.rollNpcHp.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-roll-npc-hp" name="rollNpcHp" type="checkbox"{{#if rollNpcHp}} checked{{/if}}> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.rollingHitPoints.rollNpcHp.note"}}</p>
            </div>
            <h3>{{localize "CUSTOM_DND5E.negativeHitPoints"}}</h3>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.hitPoints.applyNegativeHp.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-apply-negative-hp" name="applyNegativeHp" type="checkbox"{{#if applyNegativeHp}} checked{{/if}}> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.hitPoints.applyNegativeHp.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.hitPoints.negativeHpHealFromZero.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-negative-hp-heal-from-zero" name="negativeHpHealFromZero" type="checkbox"{{#if negativeHpHealFromZero}} checked{{/if}}> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.hitPoints.negativeHpHealFromZero.note"}}</p>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{localize "CUSTOM_DND5E.inspiration"}}</legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.houseRules.inspiration.awardInspirationD20Value.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-award-inspiration-d20-value" name="awardInspirationD20Value" type="number" min="1" max="20" value="{{awardInspirationD20Value}}"> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.inspiration.awardInspirationD20Value.note"}}</p>
            </div>
            <label>{{localize "CUSTOM_DND5E.rollTypes"}}</label>
            <div class="form-group">
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.inspiration.awardInspirationRollTypes.note"}}</p>
                <label style="display:flex;">
                    <input id="custom-dnd5e-rollAbilityTest" name="awardInspirationRollTypes.rollAbilityTest" type="checkbox"{{#if awardInspirationRollTypes.rollAbilityTest}} checked{{/if}}>
                    {{localize "CUSTOM_DND5E.abilityCheck"}}
                </label>
                <label style="display:flex;">
                    <input id="custom-dnd5e-rollAttack" name="awardInspirationRollTypes.rollAttack" type="checkbox"{{#if awardInspirationRollTypes.rollAttack}} checked{{/if}}>
                    {{localize "CUSTOM_DND5E.attackRoll"}}
                </label>
                <label style="display:flex;">
                    <input id="custom-dnd5e-rollAbilitySave" name="awardInspirationRollTypes.rollAbilitySave" type="checkbox"{{#if awardInspirationRollTypes.rollAbilitySave}} checked{{/if}}>
                    {{localize "CUSTOM_DND5E.savingThrow"}}
                </label>
                <label style="display:flex;">
                    <input id="custom-dnd5e-rollSkill" name="awardInspirationRollTypes.rollSkill" type="checkbox"{{#if awardInspirationRollTypes.rollSkill}} checked{{/if}}>
                    {{localize "CUSTOM_DND5E.skillCheck"}}
                </label>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{localize "CUSTOM_DND5E.prone"}}</legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.rotation"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-prone-rotation" name="proneRotation" type="number" value="{{proneRotation}}"> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.houseRules.prone.proneRotation.note.1"}}</p>
            </div>
        </fieldset>
    </div>
    <footer class="form-footer" data-application-part="footer">
        <button type="button" data-action="reset" class="reset-button bright">
            <i class="fas fa-arrow-rotate-left"></i>{{localize "CUSTOM_DND5E.form.button.reset.label"}}
        </button>
        <button type="submit" class="save-button">
            <i class="fas fa-solid fa-floppy-disk"></i>{{localize "CUSTOM_DND5E.form.button.save.label"}}
        </button>
    </footer>
</div>
