<div class="standard-form">
    <div class="standard-form scrollable">
        <input id="custom-dnd5e-system" name="{{key}}.system" type="hidden" value="{{#if (customDnd5eBoolFalse system)}}false{{else}}true{{/if}}">
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.key"}}</label>
            <div class="form-fields">
                {{#if (customDnd5eBoolFalse system)}}
                <input id="custom-dnd5e-key" name="{{key}}.key" type="text" value="{{localize key}}">
                {{else}}
                <input id="custom-dnd5e-disabled-key" disabled name="{{key}}.disabledKey" type="text" value="{{localize key}}">
                <input id="custom-dnd5e-key" name="{{key}}.key" type="hidden" value="{{localize key}}">
                {{/if}}
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.label"}}</label>
            <div class="form-fields">
                <input id="custom-dnd5e-label" name="{{key}}.label" type="text" value="{{localize label}}">
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.abbreviation"}}</label>
            <div class="form-fields">
                <input id="custom-dnd5e-abbreviation" name="{{key}}.abbreviation" type="text" value="{{localize abbreviation}}">
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.icon"}}</label>
            <div class="form-fields">
                <file-picker id="custom-dnd5e-icon" name="{{key}}.icon" type="image" value="{{icon}}"></file-picker>
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.physical"}}</label>
            <div class="form-fields">
                <input id="custom-dnd5e-is-physical" name="{{key}}.isPhysical" type="checkbox"{{#if isPhysical}} checked{{/if}}>
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.tag"}}</label>
            <div class="form-fields">
                <input id="custom-dnd5e-is-tag" name="{{key}}.isTag" type="checkbox"{{#if isTag}} checked{{/if}}>
            </div>
        </div>
        <div class="form-group">
            <label class="flex1" style="min-width:80px; max-width:100px;">{{localize "CUSTOM_DND5E.reference"}}</label>
            <div class="form-fields">
                <input id="custom-dnd5e-reference" name="{{key}}.reference" type="text" value="{{reference}}">
            </div>
        </div>
        <div class="form-group stacked">
            <label>{{localize "CUSTOM_DND5E.itemTypes"}}</label>
            <label class="flex1" style="min-width:80px; max-width:100px;">
                <input id="custom-dnd5e-consumable" name="{{key}}.consumable" type="checkbox"{{#if consumable}} checked{{/if}}>
                {{localize "CUSTOM_DND5E.consumable"}}
            </label>
            <label class="flex1" style="min-width:80px; max-width:100px;">
                <input id="custom-dnd5e-container" name="{{key}}.container" type="checkbox"{{#if container}} checked{{/if}}>
                {{localize "CUSTOM_DND5E.container"}}
            </label>
            <label class="flex1" style="min-width:80px; max-width:100px;">
                <input id="custom-dnd5e-equipment" name="{{key}}.equipment" type="checkbox"{{#if equipment}} checked{{/if}}>
                {{localize "CUSTOM_DND5E.equipment"}}
            </label>
            <label class="flex1" style="min-width:80px; max-width:100px;">
                <input id="custom-dnd5e-feat" name="{{key}}.feat" type="checkbox"{{#if feat}} checked{{/if}}>
                {{localize "CUSTOM_DND5E.feat"}}
            </label>
            <label class="flex1" style="min-width:80px; max-width:100px;">
                <input id="custom-dnd5e-loot" name="{{key}}.loot" type="checkbox"{{#if loot}} checked{{/if}}>
                {{localize "CUSTOM_DND5E.loot"}}
            </label>
            <label class="flex1" style="min-width:80px; max-width:100px;">
                <input id="custom-dnd5e-spell" name="{{key}}.spell" type="checkbox"{{#if spell}} checked{{/if}}>
                {{localize "CUSTOM_DND5E.spell"}}
            </label>
            <label class="flex1" style="min-width:80px; max-width:100px;">
                <input id="custom-dnd5e-tool" name="{{key}}.tool" type="checkbox"{{#if tool}} checked{{/if}}>
                {{localize "CUSTOM_DND5E.tool"}}
            </label>
            <label class="flex1" style="min-width:80px; max-width:100px;">
                <input id="custom-dnd5e-weapon" name="{{key}}.weapon" type="checkbox"{{#if weapon}} checked{{/if}}>
                {{localize "CUSTOM_DND5E.weapon"}}
            </label>
        </div>
    </div>
    {{> "modules/custom-dnd5e/templates/footer.hbs" system=system}}
</div>