<div class="form-group">
    <label>{{localize "CUSTOM_DND5E.spendCampSupplies.label"}}</label>
    <div class="form-fields">
        <dnd5e-checkbox  name="spendCampSupplies" id="custom-dnd5e-spend-camp-supplies" {{checked spend}}></dnd5e-checkbox>
    </div>

</div>
<div class="custom-dnd5e-camp-supplies" data-quantity="{{quantity}}" data-required="{{required}}">
    <img title="{{localize "CUSTOM_DND5E.campSupplies"}}" alt="{{localize "CUSTOM_DND5E.campSupplies"}}" src="modules/custom-dnd5e/media/icons/camp-supplies.webp">
    <p {{#if (lt quantity required)}}class="custom-dnd5e-failure"{{/if}}>{{localize "CUSTOM_DND5E.available" quantity=quantity}}</p>
</div>