<div class="standard-form">
    <div class="standard-form scrollable">
        <fieldset>
            <legend>{{localize "CUSTOM_DND5E.abilityCheck"}}</legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.die"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-rolls-ability-die" name="rolls.ability.die" type="text" value="{{rolls.ability.die}}"> 
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.rollMode"}}</label>
                <div class="form-fields">
                    <select id="custom-dnd5e-rolls-ability-roll-mode" name="rolls.ability.rollMode">
                        {{selectOptions selects.rollMode.choices selected=rolls.ability.rollMode localize=true}}
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{localize "CUSTOM_DND5E.attackRoll"}}</legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.die"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-rolls-attack-die" name="rolls.attack.die" type="text" value="{{rolls.attack.die}}"> 
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.rollMode"}}</label>
                <div class="form-fields">
                    <select id="custom-dnd5e-rolls-attack-roll-mode" name="rolls.attack.rollMode">
                        {{selectOptions selects.rollMode.choices selected=rolls.attack.rollMode localize=true}}
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{localize "CUSTOM_DND5E.concentrationSavingThrow"}}</legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.die"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-rolls-concentration-die" name="rolls.concentration.die" type="text" value="{{rolls.concentration.die}}"> 
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.rollMode"}}</label>
                <div class="form-fields">
                    <select id="custom-dnd5e-rolls-concentration-roll-mode" name="rolls.concentration.rollMode">
                        {{selectOptions selects.rollMode.choices selected=rolls.concentration.rollMode localize=true}}
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{localize "CUSTOM_DND5E.initiativeRoll"}}</legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.die"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-rolls-initiative-die" name="rolls.initiative.die" type="text" value="{{rolls.initiative.die}}"> 
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.rollMode"}}</label>
                <div class="form-fields">
                    <select id="custom-dnd5e-rolls-initiative-roll-mode" name="rolls.initiative.rollMode">
                        {{selectOptions selects.rollMode.choices selected=rolls.initiative.rollMode localize=true}}
                    </select> 
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{localize "CUSTOM_DND5E.savingThrow"}}</legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.die"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-rolls-saving-throw-die" name="rolls.savingThrow.die" type="text" value="{{rolls.savingThrow.die}}"> 
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.rollMode"}}</label>
                <div class="form-fields">
                    <select id="custom-dnd5e-rolls-saving-throw-roll-mode" name="rolls.savingThrow.rollMode">
                        {{selectOptions selects.rollMode.choices selected=rolls.savingThrow.rollMode localize=true}}
                    </select> 
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{localize "CUSTOM_DND5E.skillCheck"}}</legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.die"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-rolls-skill-die" name="rolls.skill.die" type="text" value="{{rolls.skill.die}}"> 
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.rollMode"}}</label>
                <div class="form-fields">
                    <select id="custom-dnd5e-rolls-skill-roll-mode" name="rolls.skill.rollMode">
                        {{selectOptions selects.rollMode.choices selected=rolls.skill.rollMode localize=true}}
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{localize "CUSTOM_DND5E.toolCheck"}}</legend>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.die"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-rolls-tool-die" name="rolls.tool.die" type="text" value="{{rolls.tool.die}}"> 
                </div>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.rollMode"}}</label>
                <div class="form-fields">
                    <select id="custom-dnd5e-rolls-tool-roll-mode" name="rolls.tool.rollMode">
                        {{selectOptions selects.rollMode.choices selected=rolls.tool.rollMode localize=true}}
                    </select>
                </div>
            </div>
        </fieldset>
    </div>
    <footer class="form-footer" data-application-part="footer">
        <button type="submit" class="save-button">
            <i class="fas fa-solid fa-floppy-disk"></i>{{localize "CUSTOM_DND5E.form.button.save.label"}}
        </button>
    </footer>
</div>
