<div class="standard-form">
    <div class="standard-form scrollable">
        <fieldset>
            <legend>{{localize "CUSTOM_DND5E.clientSettings.label"}}</legend>
            {{#if isGM}}
            <p>{{localize "CUSTOM_DND5E.clientSettings.note"}}</p>
            {{/if}}
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.sheet.sheetScale.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-sheet-scale" name="sheetScale" type="number" step=".05" value="{{sheetScale}}"> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.sheet.sheetScale.note.1"}}</p>
                <p class="custom-dnd5e-advice notes">{{localize "CUSTOM_DND5E.form.sheet.sheetScale.note.2"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.sheet.autoFadeSheet.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-auto-fade-sheet" name="autoFadeSheet" type="checkbox"{{#if autoFadeSheet}} checked{{/if}}> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.sheet.autoFadeSheet.note.1"}}</p>
                <p class="custom-dnd5e-advice notes">{{localize "CUSTOM_DND5E.form.sheet.autoFadeSheet.note.2"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.sheet.autoMinimiseSheet.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-auto-minimise-sheet" name="autoMinimiseSheet" type="checkbox"{{#if autoMinimiseSheet}} checked{{/if}}> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.sheet.autoMinimiseSheet.note.1"}}</p>
                <p class="custom-dnd5e-advice notes">{{localize "CUSTOM_DND5E.form.sheet.autoMinimiseSheet.note.2"}}</p>
            </div>
        </fieldset>
        {{#if isGM}}
        <fieldset>
            <legend>{{localize "CUSTOM_DND5E.worldSettings.label"}}</legend>
            <p>{{localize "CUSTOM_DND5E.worldSettings.note"}}</p>
            <h3>{{localize "CUSTOM_DND5E.characters"}}</h3>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.sheet.bannerImage.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-banner-image" name="bannerImage" type="text" data-dtype="text" value="{{bannerImage}}">
                        {{filePicker target="bannerImage" type="image"}}
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.sheet.bannerImage.note.1"}}</p>
                <p class="custom-dnd5e-advice notes">{{localize "CUSTOM_DND5E.form.sheet.bannerImage.note.2"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.sheet.showDeathSaves.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-show-death-saves" name="showDeathSaves" type="checkbox"{{#if showDeathSaves}} checked{{/if}}> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.sheet.showDeathSaves.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.sheet.showEncumbrance.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-show-encumbrance" name="showEncumbrance" type="checkbox"{{#if showEncumbrance}} checked{{/if}}> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.sheet.showEncumbrance.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.sheet.showExhaustion.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-show-exhaustion" name="showExhaustion" type="checkbox"{{#if showExhaustion}} checked{{/if}}> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.sheet.showExhaustion.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.sheet.showInspiration.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-show-inspiration" name="showInspiration" type="checkbox"{{#if showInspiration}} checked{{/if}}> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.sheet.showInspiration.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.sheet.showManageCurrency.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-show-manage-currency" name="showManageCurrency" type="checkbox"{{#if showManageCurrency}} checked{{/if}}> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.sheet.showManageCurrency.note"}}</p>
            </div>
            <h3>{{localize "CUSTOM_DND5E.npcs"}}</h3>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.sheet.showLegendaryActions.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-show-legendary-actions" name="showLegendaryActions" type="checkbox"{{#if showLegendaryActions}} checked{{/if}}> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.sheet.showLegendaryActions.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.sheet.showLegendaryResistance.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-show-legendary-resistance" name="showLegendaryResistance" type="checkbox"{{#if showLegendaryResistance}} checked{{/if}}> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.sheet.showLegendaryResistance.note"}}</p>
            </div>
            <div class="form-group">
                <label>{{localize "CUSTOM_DND5E.form.sheet.showUseLairAction.label"}}</label>
                <div class="form-fields">
                    <input id="custom-dnd5e-show-use-lair-action" name="showUseLairAction" type="checkbox"{{#if showUseLairAction}} checked{{/if}}> 
                </div>
                <p class="hint">{{localize "CUSTOM_DND5E.form.sheet.showUseLairAction.note"}}</p>
            </div>
        </fieldset>
        {{/if}}
    </div>
    <footer class="form-footer" data-application-part="footer">
        <button type="submit" class="save-button">
            <i class="fas fa-solid fa-floppy-disk"></i>{{localize "CUSTOM_DND5E.form.button.save.label"}}
        </button>
    </footer>
</div>
