{{#each workflows}}
<li class="item custom-dnd5e-item" data-key="{{workflowKey}}">
    <div class="item-row">
        <div class="item-name">
            <span class="title">{{name}}</span>
        </div>
        <div class="item-controls always-visible">
            <button type="button" data-action="editWorkflow" class="unbutton control-button item-control always-interactive" data-tooltip="{{localize 'CUSTOM_DND5E.edit'}}" data-tooltip-direction="UP" aria-label="{{localize 'CUSTOM_DND5E.edit'}}">
                <i class="fa-solid fa-pen-to-square" inert></i>
            </button>
            <button type="button" data-action="deleteWorkflow" class="unbutton control-button item-control always-interactive" data-tooltip="{{localize 'CUSTOM_DND5E.form.button.delete.tooltip'}}" aria-label="{{localize 'CUSTOM_DND5E.form.button.delete.tooltip'}}">
                <i class="fas fa-trash" inert></i>
            </button>
        </div>
    </div>
</li>
{{/each}}
