<div class="standard-form">
    <nav class="sheet-tabs tabs" style="flex: none;">
        <a class="item{{#if (eq activeTab 'options')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="options">
            <span>
                <i class="fa-solid fa-gear"></i>
                {{localize "CUSTOM_DND5E.general"}}
            </span>
        </a>
        <a class="item{{#if (eq activeTab 'workflows')}} active{{/if}}" data-action="tab" data-group="primary" data-tab="workflows">
            <span>
                <i class="fa-solid fa-bolt-lightning"></i>
                {{localize "CUSTOM_DND5E.workflows"}}
            </span>
        </a>
    </nav>
    <hr>
    <div class="standard-form scrollable">
        <section class="tab{{#if (eq activeTab 'options')}} active{{/if}}" data-group="primary" data-tab="options">
            <fieldset>
                <legend>{{localize "CUSTOM_DND5E.type"}}</legend>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.type"}}</label>
                    <div class="form-fields">
                        <select id="custom-dnd5e-type" name="{{key}}.type">
                            {{selectOptions selects.type.choices selected=type localize=true}}
                        </select>
                    </div>
                </div>
                {{#if isActorCounter}}{{#unless isEntity}}
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.form.workflows.actorTypes.label"}}</label>
                    <div class="form-fields">
                        <label class="checkbox">
                            <dnd5e-checkbox name="{{key}}.actorTypes.character" {{checked actorTypes.character}}></dnd5e-checkbox>
                            <span>{{localize "CUSTOM_DND5E.characters"}}</span>
                        </label>
                        <label class="checkbox">
                            <dnd5e-checkbox name="{{key}}.actorTypes.npc" {{checked actorTypes.npc}}></dnd5e-checkbox>
                            <span>{{localize "CUSTOM_DND5E.npcs"}}</span>
                        </label>
                        <label class="checkbox">
                            <dnd5e-checkbox name="{{key}}.actorTypes.group" {{checked actorTypes.group}}></dnd5e-checkbox>
                            <span>{{localize "CUSTOM_DND5E.groups"}}</span>
                        </label>
                    </div>
                    <p class="hint">{{localize "CUSTOM_DND5E.form.counters.actorTypes.hint"}}</p>
                </div>
                {{/unless}}{{/if}}
            </fieldset>

            <fieldset>
                <legend>{{localize "CUSTOM_DND5E.details"}}</legend>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.key"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-key" name="{{key}}.key" type="text" value="{{key}}">
                    </div>
                    <p class="custom-dnd5e-advice notes">{{localize "CUSTOM_DND5E.form.counters.key.note.1"}}</p>
                </div>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.label"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-label" name="{{key}}.label" type="text" value="{{localize label}}">
                    </div>
                </div>
                <div class="form-group{{#if (customDnd5eEq type "checkbox")}} hidden{{/if}}">
                    <label>{{localize "CUSTOM_DND5E.form.counters.max.label"}}</label>
                    <div class="form-fields">
                        <input id="custom-dnd5e-max" name="{{key}}.max" type="text" value="{{max}}">
                    </div>
                    <p class="hint">{{localize "CUSTOM_DND5E.form.counters.max.note.1"}}</p>
                </div>
            </fieldset>

            <fieldset>
                <legend>{{localize "CUSTOM_DND5E.permissions"}}</legend>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.form.counters.viewRole.label"}}</label>
                    <div class="form-fields">
                        <select id="custom-dnd5e-view-role" name="{{key}}.viewRole">
                            {{selectOptions selects.role.choices selected=viewRole localize=true}}
                        </select>
                    </div>
                    <p class="hint">{{localize "CUSTOM_DND5E.form.counters.viewRole.note.1"}}</p>
                </div>
                <div class="form-group">
                    <label>{{localize "CUSTOM_DND5E.form.counters.editRole.label"}}</label>
                    <div class="form-fields">
                        <select id="custom-dnd5e-edit-role" name="{{key}}.editRole">
                            {{selectOptions selects.role.choices selected=editRole localize=true}}
                        </select>
                    </div>
                    <p class="hint">{{localize "CUSTOM_DND5E.form.counters.editRole.note.1"}}</p>
                </div>
            </fieldset>
        </section>
        <section class="tab{{#if (eq activeTab 'workflows')}} active{{/if}}" data-group="primary" data-tab="workflows" style="height: 100%;">
            <div class="scrollable" style="height: 100%;">
                <div class="custom-dnd5e-items-sections">
                    <div class="items-section card">
                        <div class="items-header header">
                            <h3 class="item-name">{{localize "CUSTOM_DND5E.workflows"}}</h3>
                        </div>
                        <ol class="item-list unlist custom-dnd5e-list">
                            {{> "modules/custom-dnd5e/templates/counters/counters-workflows-list.hbs" workflows=workflows}}
                        </ol>
                    </div>
                    <button type="button" data-action="newWorkflow" class="gold-button always-interactive" aria-label="{{localize 'CUSTOM_DND5E.form.button.new.label'}}">
                        <i class="fas fa-plus" inert></i>
                    </button>
                </div>
            </div>
        </section>
    </div>
    <footer class="form-footer" data-application-part="footer">
        <button type="submit" data-tooltip="{{localize "CUSTOM_DND5E.form.button.save.tooltip"}}" class="save-button">
            <i class="fas fa-solid fa-floppy-disk"></i>{{localize "CUSTOM_DND5E.form.button.save.label"}}
        </button>
    </footer>
</div>