
{{#each counters as |counter key|}}
{{#if (eq counter.type "checkbox")}}
<div class="counter flexrow {{key}}">
    <h4>{{counter.label}}</h4>
    <div class="counter-value">
        <input type="checkbox" name="flags.custom-dnd5e.{{counter.property}}" value="{{counter.value}}"
            placeholder="false" data-dtype="Boolean" {{#if counter.value}}checked{{/if}}{{#unless counter.canEdit}} disabled{{/unless}}>
    </div>
</div>
{{/if}}
{{#if (eq counter.type "number")}}
<div class="counter flexrow {{key}}">
    <h4>{{counter.label}}</h4>
    <div class="counter-value">
        <input type="text" name="flags.custom-dnd5e.{{counter.property}}"
            value="{{counter.value}}" placeholder="0" data-dtype="Number"{{#unless counter.canEdit}} disabled{{/unless}}>
    </div>
</div>
{{/if}}
{{#if (eq counter.type "fraction")}}
<div class="counter flexrow {{key}}">
    <h4>{{counter.label}}</h4>
    <div class="counter-value">
        <input type="text" name="flags.custom-dnd5e.{{counter.property}}.value"
            value="{{counter.value}}" placeholder="0" data-dtype="Number"{{#unless counter.canEdit}} disabled{{/unless}}>
        <span class="sep">/</span>
        <input type="text" name="flags.custom-dnd5e.{{counter.property}}.max"
            value="{{counter.max}}" placeholder="0" data-dtype="Number" {{#unless counter.canEdit}}disabled{{/unless}}>
    <div>
</div>
{{/if}}
{{#if (eq counter.type "successFailure")}}
<div class="counter flexrow {{key}}">
    <h4>{{counter.label}}</h4>
    <div class="counter-value">
        <i class="fas fa-check"></i>
        <input type="number" name="flags.custom-dnd5e.{{counter.property}}.success"
            value="{{counter.success}}" placeholder="0" data-dtype="Number" {{#unless counter.canEdit}}disabled{{/unless}}>
        <i class="fas fa-times"></i>
        <input type="number" name="flags.custom-dnd5e.{{counter.property}}.failure"
            value="{{counter.failure}}"  placeholder="0" data-dtype="Number" {{#unless counter.canEdit}}disabled{{/unless}}>
    </div>
</div>
{{/if}}
{{/each}}